.banner-blog {
  height: 231px;
  margin-top: 97px;
  background: url("../../dist/img/banner-blog-mobile.png") center center
    no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  .title {
    width: 45%;
    font-weight: bold;
    font-size: 17px;
    line-height: 121%;
    color: #ffffff;
    border-left: 2px solid white;
    padding-left: 15px;
    margin-left: 30px;
    padding-bottom: 0;
  }
}

.search-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .search-bar {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
    input {
      padding-left: 15px;
      padding-right: 15px;
      width: 323px;
      height: 51px;
      background: #efefef;
      border-radius: 50px;
      outline: none;
      border: none;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #828282;
    }
    img {
      position: absolute;
      right: 4rem;
      top: 10px;
    }
  }
  .categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    .active {
      background: #d0a068 !important;
      color: #00537e !important;
    }

    .cat {
      padding: 2px 3px;
      margin: 3px;
      margin-bottom: 10px;
      width: 112px;
      height: 47px;
      background: #e0e0e0;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      display: flex;
      text-align: center;
      align-items: center;
      color: #00537e;
    }
  }
}
.post-container {
  .title {
    font-size: 18px;
    text-align: center;
  }
}

.blog-news {
  background: #00537e;
  display: flex;
  flex-direction: column;
  align-items: center;
  .news-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    .title {
      font-weight: bold;
      color: #ffffff;
      padding-bottom: 0;
      padding-left: 15px;
    }
  }
  .new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    .post-thumb {
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      height: 321px;
      width: 450px;
      @media (max-width: map-get($grid-breakpoints, lg)) {
        width: 255px;
        height: 208px;
        border: 3px solid #ffffff;
        box-sizing: border-box;
        border-radius: 5px;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .titulo {
      padding-top: 10px;
      padding-bottom: 20px;
      margin: 0 auto;
      width: 210px;
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 126.5%;
      text-align: center;
      color: #ffffff;
    }
    .btn-geral {
      width: 128.5px;
      height: 32.12px;
      background: #d0a068;
    }
  }
}

.response-news {
  .ver-mais {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 32px;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .banner-blog {
    margin-top: 135px !important;

    height: 534px;
    background: url("../../dist/img/banner-blog.png");
    background-size: cover;
    margin-top: 0;
    .title {
      font-size: 30px;
      width: auto;
    }
    .orange {
      height: 159px;
      width: 332px;
      background: #d0a068;
      border-radius: 50px 0px;
      position: relative;
      right: -100px;
      .box-blue {
        height: 100%;
        width: 432px;
        border-radius: 50px 0;
        background: #00537e;
        display: flex;
        align-items: center;
        position: relative;
        right: 103px;
        bottom: 3px;
      }
    }
  }
  .search-blog {
    .search-bar {
      justify-content: flex-end;
      input {
        width: 436px;
        text-align: left;
      }
    }
    .categorias {
      justify-content: space-around;
      .cat {
        background: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #828282;
        width: 160px;
      }
      .active {
        background: none !important;
        color: #d0a068 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -6px;
        &:after {
          content: "";
          width: 51px;
          background: none;
          border: 30px solid transparent;
          border-right-color: #efefef;
          padding-left: 30px;
          transform: rotate(90deg);
          position: relative;
          bottom: 41px;
        }
      }
    }
  }
  .response-news {
    background: #efefef;

    .blog-news {
      padding-top: 50px;
      padding-bottom: 50px;
      background: none;
    }
    .new-post {
      flex-direction: row;
      background: white;
      margin-bottom: 30px;
      align-items: unset;
      padding: 30px;
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
      img {
        width: 430px;
        height: 431px;
      }
      .text {
        padding-left: 20px;
        width: 571px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .titulo {
          padding-top: 0;
          font-size: 36px;
          line-height: 41px;
          color: #00537e;
          width: auto;
          text-align: left;
        }
        .excerpt {
          font-weight: 300;
          font-size: 18px;
          line-height: 126.5%;
          color: #4e4e4e;
        }
        .btn-geral {
          margin: unset;
          background: #00537e !important;
          border-radius: 5px;
          width: 200px;
          height: 50px;
        }
      }
    }
    .ver-mais {
      font-weight: 500;
      font-size: 18px;
      line-height: 166.9%;
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase;
      color: #787878;
      border: none;
      width: auto;
      .down {
        width: 21px;
        background: none;
        border: 10px solid transparent;
        border-right-color: #787878;
        top: 20px;
        position: relative;
        padding-left: 30px;
        transform: rotate(-90deg);
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
