.banner-contato {
  background: url(../../dist/img/banner-contato-mobile.png) center center
    no-repeat;
  background-size: cover;
  margin-top: 59px;
  height: 368px;
  z-index: 2;
  @media (min-width: map-get($grid-breakpoints, lg )) {
    height: 334px;
    background: url("../../dist/img/banner-sobre.png") no-repeat center center;
    background-size: cover;
    .padding-top-0 {
      padding-top: 0 !important;
    }
    div {
      padding-top: 130px;
    }
  }
}

.body-contato {
  background: linear-gradient(180deg, rgba(0, 86, 126, 0) 0%, #00567e 14.58%);
  position: relative;
  top: -45px;
  z-index: 1;
  padding-bottom: 40px;
  margin-bottom: -82px;
  .box {
    width: 85%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      text-align: center;
    }
    .contato-form {
      input,
      select,
      textarea {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #4e4e4e !important;
        background: none;
        margin-bottom: 17px;
        padding-bottom: 5px;
        padding-top: 8px;
        &::placeholder {
          font-size: 18px;
          line-height: 21px;
          color: #4e4e4e !important;
        }
      }
      input,
      select {
        border: none;
        border-bottom: 1px solid #d0a068 !important;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../../dist/img/select.svg");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 50%;
      }
      textarea {
        border: 1px solid #d0a068;
        box-sizing: border-box;
        border-radius: 10px;
      }
      .btn-geral {
        background: #d0a068 !important;
        color: white !important;
        width: 200px;
        height: 50px;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .banner-contato {
    margin-top: 135px !important;
    background: url("../../dist/img/banner-contato-desk.png") center center
      no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position-y: 0px;
    height: 501px;
    padding-bottom: 120px;

    span {
      font-weight: bold;
      font-size: 48px;
      line-height: 55px;
      color: #ffffff;
      border-left: 1px solid white;
      padding-left: 10px;
      position: relative;
      top: -40px;
    }
  }
  .body-contato {
    background: linear-gradient(
      180deg,
      rgba(0, 83, 126, 0) 3.15%,
      #00537e 32.41%
    );
    top: -300px;
    padding-bottom: 165px;
    margin-bottom: -300px;

    .box {
      background: none;
      position: relative;
      top: 130px;
      padding-bottom: 0 !important;
      .title {
        font-size: 36px;
        line-height: 41px;
        margin-bottom: 30px;
      }
      .contato-form {
        width: 100%;
        input,
        select {
          height: 45px;
          background-color: #ffffff;
          background-position-x: 98%;
          border: 1px solid #d0a068;
          box-sizing: border-box;
          border-radius: 50px;
          border: none;
          outline: none;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 18px;
          line-height: 21px;
          color: #787878 !important;
          &::placeholder {
            color: #787878 !important;
          }
        }
        textarea {
          height: 100px;
          background: white;
          padding-left: 10px;
          padding-right: 10px;
          color: #787878 !important;
          &::placeholder {
            color: #787878 !important;
          }
        }
        .grid {
          display: flex;
          justify-content: space-between;
          .text-187 {
            width: 69%;
          }
          .text-188 {
            width: 30%;
          }
        }
        .btn-geral {
          margin-top: 15px;
          background-color: #d0a068 !important;
          border-radius: 5px;
          color: white !important;
        }
      }
    }
  }
}
