.covid-page {
  text-align: center;
  margin-top: 120px;
  margin-bottom: -100px;
  z-index: 5;
  padding-top: 55px;
  // img {
  //   width: 85%;
  //   margin-bottom: 35px;
  // }

  .box {
    width: 85%;
    background: #f5f5f5;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: left;
    position: relative;
    z-index: 2;
    .voltar {
      position: absolute;
      width: 42px;
      height: 42px;
      top: -15px;
      right: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .textura {
    background: url("../../dist/img/textura-servicos.png");
  }
  .video {
    padding-top: 150px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
  }
}

.principais-sintomas {
  padding: 40px 30px;
  .card {
    border: none;
    width: 100%;
    border-bottom: 1px solid #d0a068;
    margin-bottom: 20px;
    .content {
      padding-top: 15px;
    }
    .sintoma {
      display: flex;
      justify-content: space-between;
      button {
        position: absolute;
        outline: none;
        background: transparent;
        border: none;
        right: -1%;
        width: 60px;
        width: 20px;
        height: 20px;
      }
      .opened {
        background: url("../../dist/img/close.svg") center center no-repeat;
        background-size: contain;
      }
      .icon {
        width: 20px;
        height: 20px;
      }
      .closed {
        background: url("../../dist/img/show.svg") center center no-repeat;
        background-size: contain;
      }

      .pergunta {
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        color: #d0a068;
        position: relative;
        top: -5px;
      }
    }
  }
}

.artigos {
  padding: 30px;
  background: #00537e;
  .title {
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    width: 70%;
    margin: 0 auto;
  }
  .artigos-wrapper {
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    .artigos-container {
      .artigo {
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        // margin-right: 15px;
        // margin-left: 15px;
        .thumb {
          border-radius: 5px;
          position: relative;
          box-shadow:5px 5px 0 0 #d0a068;
          width: 220px;
          height: 223px;
          right: -8px;
          bottom: -8px;
          margin-bottom: 15px;
          margin-left: auto;
          margin-right: auto;
          div {
            background-size: cover !important;
            border-radius: 5px;
            width: 220px;
            height: 223px;
            position: relative;
            right: 8px;
            bottom: 8px;
            a {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
        .title {
          font-size: 18px;
          line-height: 130.69%;
          text-align: center;
          letter-spacing: 0.04em;
          color: #d0a068;
          width: 90%;
        }
        .read-more {
          padding: 5px;
          width: 43px;
          border: 1px solid #ffffff;
          box-sizing: border-box;
          border-radius: 50px;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 81%;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          display: flex;
          margin: 0 auto;
        }
      }
    }
  }
  .artigos-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    outline: none;
    position: relative;
    top: -240px;
    img {
      cursor: pointer;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .covid-page {
    margin-top: 135px;
    padding-top: 0;
    .desk-banner {
      background: url("../../dist/img/textura-3.png");
      background-size: contain;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 352px;
        height: 110px;
        margin: 0;
      }
    }
    .box-desk {
      width: 100%;
      background: #f5f5f5;
      p {
        font-size: 20px;
        line-height: 140%;
      }
      .textura {
        background: none;
        padding-top: 100px;
      }
      iframe {
        width: 100%;
        height: 486px;
      }
    }
  }
  .sintomas-desk {
    padding-top: 30px;
    text-align: center;
    .container {
      display: flex;
      justify-content: space-around;
      padding-bottom: 50px;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        .title {
          height: 70px;
        }
        .divisor {
          width: 100%;
          margin: 0 auto;
          height: 1px;
          background: #d0a068;
          margin-bottom: 20px;
        }
        img {
          margin-bottom: 20px;
        }
        .sub {
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          color: #00537e;
        }
      }
    }
    .content {
      display: block;
      font-weight: bold;
      font-size: 24px;
      line-height: 140%;
      color: #828282;
    }
    .text {
      display: block;
      font-size: 18px;
      line-height: 140%;
      color: #4e4e4e;
      width: 800px;
      margin: 0 auto;
    }
    .triangulo {
      display: block;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      transform: rotate(45deg);
      background: white;
      position: relative;
      bottom: -20px;
    }
  }
  .artigos {
    padding-top: 50px;
    .title {
      font-size: 42px;
      line-height: 100%;
      margin-bottom: 30px;
    }
    .artigos-wrapper {
      width: 65%;
      .artigo {
        .title {
          margin-bottom: 0;
        }
      }
    }
    .artigos-nav {
      width: 75%;
      img {
        height: 40px;
      }
    }
  }
}
