$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1280px,
  xxl: 1450px,
);
@media (max-width: map-get($grid-breakpoints, lg )) {
  .bg-idosos {
    background: url("../../dist/img/idosos.png") center center no-repeat !important;
    background-size: cover !important;
    background-position-y: 0rem !important;
  }
  .bg-adultos {
    background: url("../../dist/img/adultos2.png") center center no-repeat !important;
    background-size: cover !important;
    background-position-y: 0rem !important;
  }
  .bg-criancas {
    background: url("../../dist/img/criancas.png") center center no-repeat !important;
    background-size: cover !important;
    background-position-y: 0rem !important;
  }
  .bg-pos-cirurgico {
    background: url("../../dist/img/pos-cirurgico2.png") center center no-repeat !important;
    background-size: cover !important;
    background-position-y: 0rem !important;
  }
  .bg-pos-parto {
    background: url("../../dist/img/pos-parto2.png") center center no-repeat !important;
    background-size: cover !important;
    background-position-y: 0rem !important;
  }
  .bg-at {
    background: url("../../dist/img/acompanhanteterapeutico.png") center center
      no-repeat !important;
    background-size: cover !important;
    background-position-y: 0rem !important;
  }
  .bg-equipe {
    background: url("../../dist/img/em2.png") center center no-repeat !important;
    background-size: cover !important;
    background-position-y: 0rem !important;
  }

  .back-button {
    width: 42px;
    border-radius: 50%;
    background: #bdbdbd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: -1rem;
  }

  .back-btn-position {
    .back-button {
      top: -3rem !important;
      z-index: 2 !important;
    }
  }
}

.conteudo {
  background: #f5f5f5;
  border-radius: 5px;
  margin: 0 auto 45% auto;
  position: relative;
  top: -50px;
  padding: 22px 24px 50px 24px;

  p {
    color: #787878;
    font-size: 17px;
    line-height: 140%;
    b {
      font-weight: bold !important;
    }
  }
  .margin-discount {
    margin-top: 50%;
    @media (min-width: map-get($grid-breakpoints,lg)) {
      margin-top: 0 !important;
    }
  }

  .orange-box {
    height: 207px;
    background: #d0a068;
    margin: 0 -8%;
    position: relative;
    top: 8rem;
    span {
      display: block;
      color: #ffffff;
      position: relative;
      top: -6rem;
      padding-left: 10px;
      padding-right: 25px;
      margin-left: 25px;
      border-left: 1px solid white;
    }
    img {
      position: relative;
      top: -7rem;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg )) {
    top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    background: none;
    margin: 0 0 0 auto;
    .font-size-24 {
      font-size: 24px !important;
    }

    .side-img {
      height: auto;
    }
    .balao-info {
      position: absolute;
      width: 199px;
      background: #a1c4cf;
      border-radius: 5px;
      height: 150px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 44%;
      top: 35%;
      p {
        font-size: 18px !important;
        z-index: 5;
        line-height: 120% !important;
        color: #00537e;
        margin-bottom: 0;
        font-weight: bold;
      }
      img {
        position: absolute;
        height: 65px;
        top: -9%;
        left: 10%;
      }
    }
    .at-position {
      p {
        font-weight: bold;
        font-size: 17px;
        line-height: 140%;
        color: #00537e;
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .criancas-position {
    top: 28% !important;
    left: 36% !important;
  }
  .nenem-position {
    top: 5% !important;
    left: 48% !important;
  }

  .adultos-position {
    top: 25% !important;
    left: 49% !important;
  }

  .at-position {
    top: 22% !important;
    left: 47% !important;
  }
  .idosos-position {
    left: 48% !important;
  }
}

@media (min-width: 1300px) and (max-width: 1500px) {
  .nenem-position {
    top: 5% !important;
    left: 48% !important;
  }
  .criancas-position {
    top: 32% !important;
    left: 36% !important;
  }
  .adultos-position {
    top: 32% !important;
    left: 48% !important;
  }
  .at-position {
    top: 28% !important;
    left: 47% !important;
  }

  .idosos-position {
    left: 49% !important;
  }
}

@media (min-width: 1600px) {
  .at-position {
    top: 28% !important;
    left: 47% !important;
  }

  .nenem-position {
    top: 9% !important;
    left: 49% !important;
  }

  .criancas-position,
  .adultos-position {
    left: 42% !important;
    top: 55% !important;
  }
}

.margin-correction {
  margin-bottom: 30%;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    margin-bottom: auto;
  }
}

.atribuicoes {
  height: 150px;
  width: 150px;
  background: #00537e;
  .content {
    padding: 24px;
    width: 211%;
    background: #d0a068;
    position: relative;
    right: -2px;
    top: 3px;
    border-radius: 5px 0px 0px 5px;
    img {
      height: 50px;
    }
    .title {
      color: white;
      text-transform: uppercase;
      font-size: 18px;
    }
    .circle {
      width: 79px;
      height: 79px;
      border: 1.25397px dashed #ffffff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .titulo {
      font-size: 17px;
      line-height: 18px;
      color: #00537e;
      font-weight: bold;
      padding-right: 0;
      text-align: left;
    }
    .divisor {
      width: 70%;
      height: 1px;
      background: #00537e;
      margin: 5px 0 5px auto;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg )) {
    width: 100%;
    background: none;
    height: auto;
    .content {
      padding-top: 50px;
      background: none;
      width: 100%;
      right: 0;
      margin: 0 auto;
      position: relative;
      left: -10%;

      .title {
        display: none;
      }
      .external-circle {
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        background: linear-gradient(111deg, #aeaeae, #fff);
        .circle {
          border: 8px solid #00537e;
          height: 180px;
          width: 180px;
          img {
            height: 90px;
          }
        }
      }
      .titulo {
        padding-top: 20px;
        padding-left: 0;
        text-align: center;
        font-size: 17px;
        line-height: 23px;
      }
    }
  }
}

.encontre-servico {
  border: none !important;
  padding: none !important;
  .box {
    margin: 0 !important;
    background: url("../../dist/img/textura-3.png") !important;
    border-radius: 0px !important;
    #regiao-label {
      display: none;
    }
    select {
      border: none !important;
      display: block;
      background: #efefef;
      border-radius: 50px;
      width: 100%;
      height: 100%;
      padding-left: 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #787878;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../../dist/img/select.svg");
      background-repeat: no-repeat;
      background-position-x: 97%;
      background-position-y: 50%;
    }
    .label {
      font-weight: 600;
      font-size: 17px;
      line-height: 130%;
      text-align: center;
      color: #ffffff;
      padding-bottom: 10px;
      display: block;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    position: unset !important;
    .box {
      height: fit-content !important;
      width: 100% !important;
      .width-custom {
        width: 50% !important;
      }
      .w-custom-75 {
        width: 75% !important;
      }
      .label {
        display: none;
      }
      .btn-geral {
        border-radius: 30px !important;
        width: 25% !important;
      }
    }
  }
}

.acompanhamento-terapeutico {
  background: url("../../dist/img/textura-servicos.png") center center no-repeat;
  background-size: cover;
  background-position-y: 140px;
  .titulo {
    display: block;
    margin: -30px auto 20px auto;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #00537e;
  }
  .at-wrapper {
    width: 320px;
    margin: 0 auto;
    .tns-nav {
      text-align: center;
      position: relative;
      top: 300px;
      button {
        margin-left: 2px;
        margin-right: 2px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 1px solid #00537e;
        background: transparent;
        outline: none;
      }
      .tns-nav-active {
        background: #00537e;
      }
    }
  }
  .at-container,
  .at-container-lg {
    position: relative;
    z-index: 2;
    display: flex;
    .at-item {
      padding: 20px;
      height: 260px;
      background: #00537e;
      border-radius: 5px;
      text-align: center;
      margin-right: 10px;

      img {
        height: 70px;
        margin-bottom: 20px;
      }
      .caption {
        font-weight: 500;
        font-size: 17px;
        line-height: 130%;
        text-align: center;
        color: #ffffff;
        display: block;
      }
    }
  }
  .at-control {
    outline: none;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    top: -9rem;
    img {
      cursor: pointer;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    background: none;
    .titulo {
      font-size: 24px;
      line-height: 140%;
      text-transform: uppercase;
      color: #d0a068;
      padding-bottom: 10px;
    }
    .at-wrapper {
      width: 1150px !important;
      .at-container,
      .at-container-lg {
        flex-wrap: wrap;
        justify-content: center;
        .h-custom {
          height: 230px !important;
          margin-bottom: 40px !important ;
        }
        .at-item {
          width: 300px;
          height: 300px;
          margin: 10px;
          &:hover {
            transform: scale(1.05);
          }
          .caption {
            font-size: 18px;
          }
        }
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, xxl)) {
    .at-wrapper {
      width: 1400px !important;
      .at-item {
        margin: 30px !important;
      }
    }
  }
}

.balao-destaque {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 40px;
  .border-custom {
    height: 1px;
    background-color: #d0a068;
    width: 80% !important;
    margin: 10px;
  }
  .box {
    display: flex;
    align-items: center;
    width: 85%;
    @media (min-width: map-get($grid-breakpoints, lg)) {
      background: #f5f5f5;
      border-radius: 5px;
    }
    .text {
      font-size: 18px;
      line-height: 140%;
      font-weight: bold;
      text-align: center;
      color: #00537e;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    margin-top: 15px;
  }
}

.superv-at {
  margin-bottom: 55px;
  div {
    width: 100%;
    background: #00537e;
    padding: 30px 40px 0 40px;
    color: #ffffff;
    .titulo {
      padding-left: 0px;
      font-weight: bold;
      font-size: 24px;
      line-height: 140%;
      padding-bottom: 15px;
      display: block;
    }
    p {
      font-size: 17px;
      color: #ffffff;
    }
  }
  .btn-geral {
    width: 200px;
    height: 50px;
    background-color: #d0a068 !important;
    position: relative;
    top: 25px;
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    height: 458px;
    background: url("../../dist/img/superv-banner.png") center center no-repeat;
    background-size: cover;
    margin: 0;
    background-position-x: 29%;
    border-bottom: 3px solid #d0a068;
    div {
      background: none;
      .titulo {
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
        border-left: 1px solid white;
        padding-left: 15px;
        padding-bottom: 0;
        position: relative;
        top: 84px;
      }
      p {
        display: none;
      }
      .btn-geral {
        margin: 0;
        position: relative;
        top: 150px;
        background: #d0a068 !important;
      }
    }
  }
}

.equipe {
  margin: 0 auto -10% auto;
  padding-bottom: 10px;
}
.bg-espec {
  background: url("../../dist/img/textura-servicos.png") center center no-repeat;
  background-size: cover;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -50px;
  padding-top: 50px;
  .espec-wrapper {
    width: 90%;
    margin: 0 auto 40px auto;
  }
  .equipe-container {
    display: flex;
  }
  .titulo-equipe {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #00537e;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    display: block;
  }
  .espec-item {
    width: 286px;
    background: #00537e;
    border-radius: 5px;
    height: 301px;
    padding: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    .titulo {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #d0a068;
      padding-bottom: 15px;
    }
    .texto {
      display: block;
      font-size: 17px;
      line-height: 140%;
      text-align: center;
      color: #ffffff;
    }
  }
  .espec-nav {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: -12rem;
    outline: none;
    img {
      cursor: pointer;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .custom-width {
    width: 235px !important;
  }
  .equipe {
    margin-bottom: 30px !important;
  }
  .espec-position {
    margin: 0 0 0 auto !important;
    .balao-info {
      // height: 100px !important;
      // top: 60%;
    }
    .titulo-equipe {
      display: block;
      color: #00537e;
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 20px;
    }
    .espec-item {
      .titulo {
        font-weight: bold;
        color: #d0a068;
        display: block;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
      .texto {
        display: block;
        font-size: 18px;
        padding-bottom: 15px;
      }
    }
  }
}
