.depoimentos {
  background: url("../../dist/img/bg-comentarios-mobile.png") center center
    no-repeat;
  text-align: center;
  .without-span {
    .dots {
      display: none;
    }
  }
  .card {
    background: transparent;
    text-align: left;
    border: none;
    border-radius: 0;
    border-top: 1px solid #d0a068;
    p {
      font-style: italic;
      font-size: 17px;
      line-height: 18px;
      color: #00537e;
      padding-bottom: 10px;
    }
    .author {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      span {
        width: 90%;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #d0a068;
      }
      button {
        position: absolute;
        outline: none;
        background: transparent;
        border: none;
        right: -1%;
        width: 60px;
        width: 20px;
        height: 20px;
      }
      .opened {
        background: url("../../dist/img/close.svg") center center no-repeat;
        background-size: contain;
      }
      .icon {
        width: 20px;
        height: 20px;
      }
      .closed {
        background: url("../../dist/img/show.svg") center center no-repeat;
        background-size: contain;
      }
    }
    .content {
      #more {
        display: none;
      }
    }
  }
}

.depoimentos-desk {
  background: #1c4068;
  .container-depo {
    position: relative;
    padding-top: 50px;

    text-align: center;
    .title {
      font-size: 36px;
      line-height: 41px;
      padding-bottom: 30px;
    }
    a{
      color:$blue;
      font-weight: bold;
    }
    .btn-fechar{
      padding:10px 25px;
      border-radius: 30px;
      background-color: white;
      color:$blue;
      display: inline-block;
      margin:15px 0;
    }
    .card-container {
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      
      .active {
        width: 368px !important;
        p {
          padding: 0 !important;
          margin: 0 !important;
        }
        span {
          padding-bottom: 5px !important;
        }
        .destaque {
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #00537e;
          padding-bottom: 0;
          position: relative;
          display: block !important;
          img {
            position: absolute;
            left: -25%;
          }
          span {
            text-transform: none !important;
            width: 260px;
            position: relative;
            left: 15%;
            padding-bottom: 5px;
          }
        }
        .line {
          display: none;
        }
      }

      .card-desk {
        padding: 30px;
        text-align: left;
        height: fit-content;
        min-height: 280px;
        background: #d0a068;
        border-radius: 0px 30px;
        font-size: 18px !important;
        line-height: 22px !important;
        .destaque {
          display: none;
        }
        span {
          display: block;
          text-transform: uppercase;
          color: #00537e;
          padding-bottom: 15px;
        }
        p {
          font-weight: bold;
          padding-top: 15px;
          color: #ffffff;
          font-size: 18px !important;
          line-height: 22px !important;
        }
        .line {
          border-bottom: 1px solid #00537e;
          width: 70%;
          margin: 10px auto;
        }
      }
    }
    .tns-nav {
      margin-top: 35px;
      padding-bottom: 35px;
      button {
        outline: none;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: 3px;
        background-color: transparent;
      }
      .tns-nav-active {
        background-color: #fff;
      }
    }
    .controls {
      outline: none;
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 5%;
      img {
        cursor: pointer;
      }
    }
  }
}

.palavra-home {
  position: relative;
  background: #1c4068;
  text-align: center;
  .title {
    margin: 0 auto;
  }
  .palavra-container {
    position: relative;
    z-index: 5;
    width: 70%;
    .palavra-item {
      background: #d0a068;
      border-radius: 0px 26.9575px;
      width: 221px !important;
      margin-left: 10px;
      margin-right: 10px;
      span {
        display: block;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #00537e;
      }
      p {
        line-height: 120%;
        color: #ffffff;
        margin-bottom: 0;
      }
    }
  }
  .palavra-nav {
    outline: none;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 35%;
  }
}
