.excelencia {
  text-align: center;
  position: relative;
  margin-bottom: -70px;

  .title {
    margin: 0 auto;
    padding: 20px 0;
  }
  .banner {
    background: url("../../dist/img/excelencia.png") center center no-repeat;
    background-size: cover;
    height: 166px;
  }

  .container-excelencia {
    z-index: 3;
    width: 306px;
    margin: 0 auto;
    position: relative;
    top: -8rem;

    .excelencia-wrapper {
      height: 400px;
      position: relative;
      bottom: -6rem;
      .item {
        padding: 40px 10px;
        background: #d3d3d3;
        border-radius: 5px;
        // width: 286px !important;
        position: relative;
        // margin-right: 10px;
        // margin-left: 10px;
        height: 293px;
        img {
          height: 110px;
          width: 110px;
          position: absolute;
          top: -31%;
          left: 30%;
        }
        .title {
          line-height: 100%;
          letter-spacing: 0.04em;
          color: #00537e;
          padding: 0;
          padding-bottom: 10px;
          width: 80%;
        }
        p {
          letter-spacing: 0.04em;
          line-height: 21px;
        }
      }
    }
  }
  .excelencia-nav {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: flex;
    bottom: 16rem;
    justify-content: space-between;
    outline: none;
  }
  .btn-geral {
    width: 200px;
    height: 50px;
    background: #d0a068 !important;
    margin-top:-35px;
    position:relative;
    z-index: 4;
  }
  .dots-excelencia {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5.2rem;
    margin-bottom: 10px;
    button {
      height: 13px;
      width: 3px;
      border-radius: 50%;
      border: 1px solid #00537e;
      background: none;
      outline: none;
      position: relative;
      //   top: -14rem;
    }
    .tns-nav-active {
      background: #00537e;
    }
  }
}

.excelencia-desk {
  padding-top: 3%;
  .title {
    font-size: 42px;
    line-height: 100%;
    margin-left: 4%;
  }
  .container {
    .nav {
      display: flex;
      justify-content: space-around;
      img {
        width: 60px;
      }

      .active {
        .elipse-gray {
          .pill-item {
            border-color: #00537e;
            img {
              filter: invert(16%) sepia(58%) saturate(3890%) hue-rotate(184deg)
                brightness(60%) contrast(101%);
            }
          }
        }
        .cuidado {
          color: #00537e;
          font-weight: bold;
        }
      }
      .elipse-gray {
        width: 162px;
        height: 162px;
        border-radius: 50%;
        background-color: #efefef;
        display: flex;
        justify-content: center;
        align-items: center;
        .pill-item {
          width: 140px;
          height: 140px;
          border: 7px solid #d0a068;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .cuidado {
        padding-top: 15px;
        display: block;
        margin: 0 auto;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #d0a068;
        width: 132px;
      }
    }
    .tab-content {
      margin-bottom: 10%;
      .tab-pane {
        border: 1px solid #787878;
        border-right: none;
        box-sizing: border-box;
        height: 280px;
        border-radius: 5px;
        .texto {
          padding-left: 3rem;
          display: flex;
          flex-direction: column;
          height: 263px;
          justify-content: center;
          .tab-title {
            font-weight: bold;
            font-size: 36px;
            line-height: 130.69%;
            letter-spacing: 0.04em;
            color: #787878;
          }
          p {
            font-size: 18px;
            line-height: 130.69%;
            letter-spacing: 0.04em;
            color: #4e4e4e;
          }
          .btn-geral {
            width: 200px;
            height: 50px;
            background-color: #d0a068 !important;
            margin: 0;
          }
        }
        img {
          width: 578px;
          height: 415px;
          position: relative;
          top: -5rem;
          right: 0.2rem;
        }
      }
    }
  }
}
