footer {
  text-align: center;
  background: url("../../dist/img/bg-footer.png");
  background-size: cover;
  // height: 266px;
  border-bottom: 8px solid #d0a068;
  .midias {
    margin: 0 auto;
    width: 120px;
    display: flex;
    justify-content: space-between;
    img {
      height: 30px;
    }
  }
  .endereco {
    span:first-child {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      color: #d0a068;
    }
    p {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: #00537e;
    }
  }

  .footer-links {
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      text-align: left;
      a {
        font-weight: bold;
        font-size: 17px;
        line-height: 33px;
        color: #00537e;
      }
    }
  }

  .rodape {
    font-weight: 300;
    font-size: 11px;
    line-height: 18px;
    color: #d0a068;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    // height: 322px;
    text-align: left;
    .midias {
      margin: 0;
    }
    .footer-reverse {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      .endereco {
        text-align: left;
        span:first-child {
          // padding-left: 13%;
          font-size: 18px;
          line-height: 30px;
          color: #d0a068;
        }
        p {
          font-size: 17px;
          // padding-left: 13%;
          line-height: 27px;
        }
      }
    }
    .rodape {
      font-size: 17px;
      line-height: 27px;
    }
  }
}
