.pre-header {
  background: white;
  position: fixed;
  top: 0;
  height: 35px;
  width: 100%;
  z-index: 99;
  div {
    padding: 5px 0;
    margin: 0 auto;
    a {
      img {
        padding-right: 10px;
      }
      padding-right: 20px;
      font-weight: 400;
      font-size: 17px;
      display: flex;
      align-items: center;
      color: #c78130;
      opacity: 0.5;
    }
    a:last-child {
      color: #00537e;
    }
  }
}
header {
  top: 0;
  position: fixed;
  z-index: 99;
  height: 100px;
  width: 100%;
  background: #00537e;
  border-bottom: 3px solid #d0a068;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: map-get($grid-breakpoints, lg )) {
    top: 35px;
  }
  nav {
    margin: 0 auto;
    align-items: center;
    display: flex;
    height: 100%;

    span {
      font-size: 30px;
      cursor: pointer;
      background: #548c55;
      color: white;
      border-radius: 30px;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      right: 4%;

      @media (min-width: map-get($grid-breakpoints , lg )) {
        background-color: unset;
      }
    }
    .logo-home {
      height: 70px;
      position: relative;
      @media (min-width: map-get($grid-breakpoints , lg )) {
        position: unset;
      }
    }
    .sidenav {
      height: 435px;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 100px;
      left: 0;
      background: #ffffff;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
      border-radius: 0px 0px 5px 0px;
      overflow: hidden;
      transition: 0.5s;
      padding-top: 7px;

      a {
        margin-left: 15px;
        padding-bottom: 7px;
        padding-top: 7px;
        font-weight: bold;
        font-size: 18px;
        line-height: 153.2%;
        display: block;
        color: #00537e;
        transition: 0.3s;
        border-bottom: 1.39838px solid #e0e0e0;
        width: 85%;
      }

      a:last-child {
        font-weight: 300;
        font-size: 17px;
        line-height: 18px;
        display: flex;
        align-items: center;
      }
      div {
        display: flex;
        align-items: center;
        a {
          border: none;
          width: auto;
        }
      }

      .closebtn {
        padding: 0;
        background: #e0e0e0;
        color: black;
        border-radius: 30px;
        position: absolute;
        width: 59px;
        height: 59px;
        right: -8%;
        top: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
      }
    }
    .desk-links {
      position: relative;
      left: 2%;
      height: 100%;
      a {
        padding: 10px 15px;
        display: flex;
        width: 22%;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 17px;
        height: 100%;
        line-height: 18px;
        text-transform: uppercase;
        color: #ffffff;
        @media (min-width: map-get($grid-breakpoints , lg )) {
          width: 21%;
        }
        img {
          padding-right: 10px;
        }
      }
      a:hover {
        background: #d0a068;
      }
    }

    .desk-nav {
      overflow-y: hidden;
      background: #fff;
      z-index: 5;
      position: absolute;
      padding: 35px;
      padding-top: 0;
      padding-bottom: 0;
      top: 100px;
      width: 334px;
      height: 0;
      right: 4%;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
      border-radius: 0px 0px 5px 0px;
      transition: 0.5s;
      flex-direction: column;
      justify-content: center;
      a {
        display: block;
        font-weight: normal;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 26px;
        color: #727272;
        border-bottom: 1px solid #828282;
        width: 95%;
      }
      a:last-child {
        border: none;
      }
    }
    .desk-active {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      height: 200px !important;
    }
  }
}
.overflow-initial {
  overflow: initial !important ;
}

// HEADER SEJA UM FRANQUEADO
html {
  scroll-behavior: smooth;
}
.pre-header {
  .back-orange {
    color: #d0a068 !important;
  }
}
.franq-header {
  a {
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 14px !important;
    width: unset !important;
    text-transform: uppercase !important;
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .scroll-header {
    height: 40px;
  }
}

// HEADER UNITY

.unity-header {
  a {
    width: 250px !important;
  }
}
