.cabecalho-help{
	padding:36px 60px 30px;
	background: url("../../dist/img/bg-footer.png");
	background-size: cover;
	.container{
		max-width: 866px;
	}
}
.informacoes-help{
	padding-bottom:50px;
	.container{
		max-width: 866px;
	}
	.fundo-cinza{
		margin-bottom:27px;
		padding:50px 0;
		background-color: #EDEDED;
		.bordado{
			border: 2px solid $gold;
		}
		p{
			margin-bottom:48px;
		}
	}
	.gold-title{
		color:$gold;
		font-size:24px;
		font-weight:bold;
		margin-bottom:26px;
	}
	p{
		margin-bottom:54px;
	}
	ul{
		padding-left:22px;
	}
	@media(min-width:map-get($grid-breakpoints,lg)){
		padding-bottom:70px;
	}
}
hr.golden{
	border-top: 2px solid $gold;
	width: 100%;
	margin-top: 27px;;
}
.header-mask{
	height:135px;
}