.intro-home {
  margin-bottom: 40px;
  .tns-nav{
    position: relative;
    margin-top:-55px;
    text-align: center;
    button{
      background: 0;
      width:30px;
      height:30px;
      border-radius: 50%;
      margin:0 15px;
      border:2px solid $gold;
      outline: 0;
      &:nth-child(1){
        margin-left:0;
      }
      &:nth-last-child(1){
        margin-right:0;
      }
      &.tns-nav-active{
        background-color: $blue;
      }
    }
  }
  .banner-help{
    position: relative;
    height: 330px;
    background: url("../../dist/img/banner-ha-3.jpg") no-repeat;
    background-size: 180%;
    background-position: 20% 95%;
    @media(min-width:1500px){
      background-position-y: 90%;
    }
    .link-banner{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .covid-btn {
      position: relative;
      top: 7rem;
      margin: 0 0 0 auto;
      background: #f5f5f5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px 0px 0px 5px;
      padding: 7px;
      text-align: center;
      width: 110px;
      height: 38px;
      overflow: hidden;
      transition: height 0.1s ease-in-out;
      img {
        width: 95px;
      }
      .text {
        display: block;
        font-weight: bold;
        font-size: 9.3913px;
        line-height: 130%;
        text-transform: uppercase;
        color: #00537e;
      }
      a {
        color: #00537e;
      }
    }
  }
  .covid-btn {
    position: absolute;
    top: 13rem;
    right: 0;
    z-index: 3;
    margin: 0 0 0 auto;
    background: #f5f5f5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 0px 0px 5px;
    padding: 7px;
    text-align: center;
    width: 110px;
    height: 38px;
    overflow: hidden;
    transition: height 0.1s ease-in-out;
    img {
      width: 95px;
    }
    .text {
      display: block;
      font-weight: bold;
      font-size: 9.3913px;
      line-height: 130%;
      text-transform: uppercase;
      color: #00537e;
    }
    a {
      color: #00537e;
    }
  }
  .fit-height {
    height: 123px !important;
  }
  .banner-home {
    position: relative;
    padding-top: 100px;
    height: 330px;
    background: url("../../dist/img/banner-home.png") no-repeat;
    background-size: cover;
    background-position-x: 13%;
    background-position-y: 4rem;
    @media (min-width: map-get($grid-breakpoints, xxl)) {
      background-position-x: 0 !important;
    }
    
  }
  .box {
    top: -30px;
    position: relative;
    height: 275px;
    margin: 0 auto;
    background: #f5f5f5;
    border-radius: 5px;
    text-align: center;

    .title {
      margin: 0 auto;
      color: #00537e;
    }
    .sub {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 120%;
      color: #8c8c8c;
    }
    p {
      font-size: 17px;
      line-height: 160%;
      color: #8c8c8c;
    }
    .btn-geral {
      position: relative;
      top: -0.5rem;
      background: #d0a068 !important;
      width: 237px;
      height: 50px;
      font-size: 17px;
      line-height: 144.19%;
      margin-bottom: 30px;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg )) {
    .covid-btn {
      position: absolute;
      right: 0px;
      width: 161px;
      height: 50px;
      top: 28rem;
      cursor: pointer;
      .text {
        padding-top: 10px;
        font-size: 14px;
        line-height: 120%;
      }
      img {
        width: 146px;
        height: 46px;
      }
    }
    .btn-geral {
      margin-top: 80px;
      width: 408px;
      height: 50px;
    }
    .banner-help{
      margin-top: 105px;
      background-size: cover;
      background-position: initial;
      height: 573px;
      
    }
    .banner-home {
      margin-top: 105px;

      height: 573px;
      padding-top: 0;
      background-position-x: 10%;
      background-position-y: -5px;
      .orange {
        background: #d0a068;
        top: 55%;
      }
      .blue {
        background: #00537e;
        left: -4px;
        top: -5px;
        padding: 15px 20px;
      }
      .box-intro {
        border-radius: 40px 0px;
        height: 127px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .title {
          color: #ffffff;
          border-left: 1px solid #ffffff;
          padding: 0 0px 0 15px;
        }
      }
      .covid-btn {
        position: absolute;
        right: 0px;
        width: 161px;
        height: 50px;
        top: 18rem;
        cursor: pointer;
        .text {
          padding-top: 10px;
          font-size: 14px;
          line-height: 120%;
        }
        img {
          width: 146px;
          height: 46px;
        }
      }
      .fit-height {
        height: 135px !important;
      }
    }
    .box {
      position: relative;
      padding-left: 3rem !important;
      border: 1px solid #828282;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 0 auto;
      height: 277px;
      background: none;
      top: 0;
      margin-top: 104px;
      display: flex;
      div {
        text-align: left;
        .top-info {
          position: relative;
          top: -2.5rem;
          display: block;
          padding: 6px 22px;
          background: #00537e;
          font-weight: bold;
          font-size: 18px;
          line-height: 214.19%;
          text-transform: uppercase;
          color: #d0a068;
          border-radius: 5px;
          width: 373px;
        }
        .title {
          font-size: 36px;
          line-height: 117.19%;
          letter-spacing: 0.04em;
          color: #787878;
        }
        p {
          padding-top: 10px;
          font-size: 18px;
          line-height: 141.69%;
          letter-spacing: 0.04em;
          color: #4e4e4e;
        }
      }
      .btn-geral {
        position: absolute;
        top: 40%;
        background: #d0a068 !important;
      }
      img {
        position: relative;
        width: 417px;
        height: 330px;
        top: -3rem;
        right: -3rem;
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  .bg-lg-transparent {
    background: transparent !important;
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .bg-lg-transparente {
    background: transparent !important;
  }
}

.encontre-unidade {
  background: #00537e;
  border-bottom: 3px solid #d0a068;
  .box {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    .title {
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;
    }
    #find-unity {
      .select2-selection {
        outline: none;
        width: 100%;
        height: 45px;
        border-radius: 40px;
        // margin-bottom: 15px;
        background: white;
        padding-left: 10px;
        border: 1px solid #d0a068;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("../../dist/img/select.svg");
        background-repeat: no-repeat;
        background-position-x: 97%;
        background-position-y: 8px;
        font-size: 18px;
        line-height: 21px;
        color: #787878;
        font-weight: bold;
        span {
          line-height: 40px;
        }
        .select2-selection__arrow {
          opacity: 0;
        }
      }
      .btn-geral {
        background: #548c4b !important;
        padding: 12px 20px;
        width: unset !important;
        @media (min-width: map-get($grid-breakpoints, lg )) {
          padding: 10px 60px;
        }
      }
    }
    #regiao {
      display: none;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    position: absolute;
    top: 125px;
    right: 12.5%;
    border-bottom: none;
    padding: 0 !important;

    .box {
      height: 439px;
      background: #f2f2f2;
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
      width: 385px;

      .title {
        font-size: 24px;
        line-height: 144.19%;
      }
    }
  }
}

.gama-completa {
  border-bottom: 2px solid #d0a068;
  border-top: 2px solid #d0a068;
  background-color: #00537e;
  height: 215px;
  .text {
    font-size: 28px;
    span {
      display: block;
      // font-size: 18px;
      line-height: 21px;
      color: #ffffff;
    }
    .bigger {
      font-weight: bold;
      // font-size: 24px;
      line-height: 28px;
    }
  }
  .btn-geral {
    background: #548c54;
    width: 408px;
    height: 50px;
  }
}

.blog-home {
  background: #00537e;
  border-bottom: 2px solid #d0a068;
  .title {
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding-right: 22%;
    padding-left: 22%;
  }
  .blog-home-container {
    width: 250px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    .blog-home-wrapper {
      display: flex;
      position: relative;
      height: 315px;
      // bottom: -30px;
    }
    .item {
      max-width: 246px;
      // background: #d0a068;
      border-radius: 5px;
      text-align: center;
      margin-left: 11px;
      margin-right: 11px;
      .img-bg {
        background: center center no-repeat;
        background-size: cover;
        height: 200px;
        position: relative;
        top: -5px;
        left: -5px;
        border-radius: 5px;
        box-shadow: 7px 7px 0 0px #d0a068;
      }
      .titulo {
        display: block;
        margin-top: 15px;
        font-weight: bold;
        line-height: 110%;
        color: #ffffff;
        font-size: 17px;
      }
      p {
        font-size: 14px;
        line-height: 121.7%;
        color: #ffffff;
      }
      a {
        padding: 6px 7px;
        font-size: 12px;
        line-height: 81%;
        text-transform: uppercase;
        color: white;
        border: 1px solid white;
        box-sizing: border-box;
        border-radius: 50px;
      }
    }
  }
  .blog-home-nav {
    outline: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -11rem;
    img {
      cursor: pointer;
      width: 15px;
    }
  }
  .blog-home-dots {
    text-align: center;
    button {
      border: 1px solid white;
      box-sizing: border-box;
      width: 9px;
      height: 13px;
      background: none;
      border-radius: 50%;
    }
    .tns-nav-active {
      background: white;
    }
  }

  .btn-geral {
    margin-top: 20px;
    background: #d0a068 !important;
    height: 50px;
    width: 200px;
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    height: fit-content;
    .title {
      font-size: 48px;
      line-height: 100%;
      .detail {
        display: block;
        font-weight: 500;
        font-size: 36px;
      }
    }
    .blog-home-container {
      height: 100% !important;
      width: 81%;
    }
    .blog-home-wrapper {
      height: 450px !important;
    }
    .item {
      max-width: 292px !important;
      height: 292px !important;
      margin-right: 20px !important;
      margin-left: 20px !important;
      .img-bg {
        width: 300px;
        height: 299.51px !important;
        top: -5px;
        right: 7px;
      }
      .titulo {
        margin-top: 10px !important;
        font-size: 18px;
        line-height: 130.69% !important;
        text-align: center;
        color: #d0a068 !important;
        margin-bottom: 10px;
      }

      a {
        color: white !important;
        border-color: white !important;
      }
    }
    .blog-home-nav {
      top: -19rem;
      width: 90%;
      margin: 0 auto;
      img {
        width: 20px;
      }
    }
    .btn-geral {
      margin-bottom: 40px;
      margin-top: 0;
    }
  }
  @media (min-width: 1300px) {
    .blog-home-container {
      max-width: 1000px;
    }
  }
}

.certificacoes-home {
  background: url("../../dist/img/cert-home-mobile.png") center center no-repeat;
  background-size: cover;
  height: 282px;
  .title {
    display: block;
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    background: url("../../dist/img/cert-home.png") center center no-repeat;
    background-size: cover;
    height: 342px;
  }
}
