.banner-livelo {
  margin-top: 100px;
  background: url("../../dist/img/vantagens.png") no-repeat;
  background-size: cover;
  height: 214px;
  background-position-x: -360px;
  display: flex;
  align-items: center;
  .box-orange {
    height: 118px;
    width: 207px;
    background: #d0a068;
    position: relative;
    left: 3px;
    border-bottom-right-radius: 30px;
    .box-blue {
      height: 100%;
      width: 100%;
      position: relative;
      left: -3px;
      background: #00537e;
      border-bottom-right-radius: 30px;
      padding: 15px;
      .title {
        border-left: 2px solid white;
        padding-left: 10px;
        padding-bottom: 0;
        line-height: 90.8%;
        color: #ffffff;
      }
      div {
        .home {
          height: 30px;
          width: 91px;
        }
        .plus {
          font-size: 18px;
          font-weight: bold;
          color: white;
        }
        .livelo {
          width: 60px;
        }
      }
    }
  }
}

.clube {
  padding: 25px;
  text-align: center;
  .title {
    padding-bottom: 10px;
  }
  .sub {
    display: block;
    font-size: 18px;
    line-height: 117%;
    color: #d0a068;
    font-weight: 500;
    padding-bottom: 20px;
  }
  p {
    font-weight: 300;
    font-size: 17px;
    line-height: 130%;
    color: #787878;
  }
  .box-circle {
    margin-top: 30px !important;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    img {
      width: 100%;
    }
    .caption {
      position: absolute;
      font-weight: 500;
      font-size: 18px;
      line-height: 84.6%;
      color: #aaaaaa;
      top: -8px;
      left: 68px;
      background: white;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.vantagens-livelo {
  background: #e50091;
  margin-bottom: -100px;
  border-bottom: 3px solid #d0a068;
  .banner {
    background: url("../../dist/img/banner-vantagens.png") center center
      no-repeat;
    background-size: cover;
    height: 303px;
    text-align: center;
    padding-top: 40px;
    .title {
      color: white;
    }
  }
  .textura {
    background: url("../../dist/img/textura4.png");
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px 30px 20px 30px;
      background: #00537e;
      border-radius: 5px;
      width: 80%;
      margin: 0 auto;
      position: relative;
      top: -65px;
      img {
        position: absolute;
        top: -126px;
        align-self: center;
      }
      p {
        font-size: 18px;
        line-height: 130%;
        color: #ffffff;
        margin: 0;
      }
    }
    .title {
      margin-top: -40px;
      color: white;
      line-height: 28px;
      text-align: center;
      padding-left: 20%;
      padding-right: 20%;
      display: block;
    }
    .resgate-lg {
      position: relative;
      margin: 0 auto;
      width: 80%;
      background: #00537e;
      border-radius: 5px;
      height: 200px;
      padding: 30px;
      .circle-box {
        background: #0e70a3;
        height: 115px;
        width: 115px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          filter: invert(55%) sepia(67%) saturate(321%) hue-rotate(343deg)
            brightness(85%) contrast(91%);
        }
      }

      .resgate-wrapper {
        .resgate-container,
        .resgate-container-lg {
          display: flex;

          .resgate-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: relative;
            .title {
              margin: 0;
              padding: 0;
              padding-bottom: 15px;
              font-size: 18px;
              line-height: 130.69%;
              color: #d0a068;
            }
            img {
              // width: 132px;
              height: 95px;
            }
          }
        }
      }
    }
    .vantagens-nav {
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      outline: none;
      img {
        filter: brightness(10);
        position: relative;
        top: -100px;
      }
    }
  }
}

.livelo-end {
  padding-top: 165px;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  .title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #00537e;
    padding-bottom: 25px;
  }
  .btn-geral {
    background: #d0a068 !important;
    height: 54px;
    width: 201px;
    color: #00537e !important;
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .banner-livelo {
    background-position-x: 0 !important;
    height: 330px;
    margin-top: 135px !important;

    .banner-width-lg {
      max-width: 62%;
      margin: 0 auto;
      .box-orange {
        width: 356px;
        height: 146px;
        border-radius: 50px 0px;
        .box-blue {
          padding: 30px;
          border-radius: 50px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          .title {
            font-size: 48px;
            line-height: 90.8%;
          }
        }
      }
      div {
        align-items: center;
        .plus {
          font-size: 28px;
          font-weight: bold;
          color: #d0a068;
          margin-left: 10px;
        }
      }
    }
  }
  .clube {
    max-width: 56%;
    border: 1px solid #aaaaaa;
    padding: 0 30px;
    border-radius: 5px;
    display: flex;
    margin: 70px auto 50px auto;
    align-items: center;
    justify-content: space-between;
    height: 290px;

    .text-lg {
      position: relative;
      left: -60px;
      background: white;
      text-align: left;
      width: 50%;

      .title {
        display: block;
        font-size: 48px;
        padding-bottom: 15px !important;
        position: absolute;
        background: white;
        width: 110%;
        top: -41px;
      }
      .sub {
        font-weight: bold;
        font-size: 24px;
        margin-top: 12px;
        background: white;
        width: 120%;
      }
      p {
        margin-bottom: 20px;
        font-weight: 400 !important;
      }
    }
    .box-circle {
      padding: 0;
      margin-top: 0 !important;
      border: none;
      width: 55%;
      position: unset;
      img {
        width: 125%;
        position: relative;
        right: -30px;
      }
      .caption {
        font-size: 24px;
        font-weight: bold;
        top: 89%;
        left: -40px;
        height: 40px;
        padding-top: 15px;
        color: #4e4e4e;
      }
    }
  }
  .vantagens-livelo {
    position: relative;
    .banner {
      height: 510px;
      .title {
        font-size: 36px;
      }
      .fs-48 {
        padding-top: 30px;
        font-size: 48px;
        display: block;
      }
    }
    .textura {
      .box {
        top: 150px;
        background: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        left: 10%;
        position: absolute;
        p:first-child {
          left: 30px;
          font-weight: normal !important;
          font-size: 27px;
          line-height: 120%;
        }
        p:last-child {
          right: 30px;
          font-size: 17px;
          line-height: 141.4%;
        }
        p {
          background: #00537e;
          border-radius: 5px;
          padding: 20px;
          width: 398px;
          height: 203px;
          position: relative;
          margin: 0;
        }
        img {
          position: unset !important;
          width: 276px;
        }
      }
      .title {
        font-size: 36px;
        line-height: 41px;
        margin-top: 0;
      }
      .resgate-lg {
        background: none;
        .resgate-wrapper {
          .resgate-container,
          .resgate-container-lg {
            .resgate-item {
              position: relative;
              left: 0;
              .title {
                width: 80%;
                font-size: 18px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #ffffff;
                margin: 0 auto;
              }
              .circle-box {
                border: 3px solid #00537e;
                background: white !important;
                img {
                  filter: none;
                  width: 80%;
                  height: 70%;
                }
              }
              &::after {
                content: "";
                width: 30px;
                border: 1px dashed #ffffff;
                position: absolute;
                right: -18px;
                bottom: 59px;
                opacity: 0.7;
              }
            }
            .no-border {
              &::after {
                border: none;
              }
            }
          }
        }
      }
    }
  }
  .livelo-end {
    padding-top: 145px;
    background: #00537e;
    .title {
      color: white !important;
      font-size: 24px;
      line-height: 28px;
      width: 44%;
      margin: 0 auto;
    }
    .btn-geral {
      font-size: 18px;
      color: white !important;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, xxl)) {
  .clube {
    .text-lg {
      height: 250px;
      margin-top: 20px;
      top: -8px;
      .title {
        top: -25px;
        width: 90%;
      }
      .sub {
        margin-top: 23px;
      }
    }
    .box-circle {
      img {
        width: 80%;
        right: -135px;
      }
    }
  }
}
