.razoes-mobile {
  margin-top: 10px;
  border-top: 3px solid #d0a068;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #dddddd;
  .title {
    width: 80% !important;
    margin: 0 auto;
  }
  .wrapper {
    .razoes-container {
      .razao {
        width: 286px;
        background-color: #27496f;
        border-radius: 5px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 350px;
        .title {
          color: white;
          text-align: center;
        }
      }
    }
  }
  .razoes-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -180px;
  }
}
