.franqueado-intro {
  padding-top: 35%;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  .reverse {
    display: flex;
    flex-direction: column-reverse;
    iframe {
      border: 6px solid #d0a068;
    }
  }
  @media (min-width: (map-get($grid-breakpoints , lg ))) {
    padding-top: 35px;
    border-bottom: 1px solid #b5b5b5;
    width: 80%;
    margin: 0 auto 30px auto;
    .title {
      margin: 0 auto;
      width: 653px;
      font-size: 36px;
      line-height: 41px;
    }
    .reverse {
      display: block;
      .embed-responsive-16by9 {
        width: 708px;
        height: 354px;
        margin: 0 auto;
      }
      p {
        padding-bottom: 30px;
        margin: 0 auto;
        // width: 856px;
        font-size: 18px;
        line-height: 145.7%;
      }
    }
  }
}

#accordion {
  .card {
    border: none;
    background: #00537e;
    border-radius: 0;
    .btn-link:hover {
      text-decoration: unset;
    }
    .show {
      height: fit-content;
    }
    .card-header {
      width: 100%;
      border: none;
      height: fit-content;
      button {
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          filter: invert(35%) sepia(105%) saturate(4446%) hue-rotate(172deg)
            brightness(28%) contrast(95%);
        }
      }
    }
    .card-body {
      padding: 30px;
    }
    .como-funciona {
      background: #00537e;
      button {
        color: white;
      }
    }
    #como-funciona {
      background: url("../../dist/img/como-funciona.png") center center;
      background-size: cover;
      background-repeat: no-repeat;
      div {
        p:first-child {
          font-weight: bold;
        }
        p {
          color: white !important;
        }
      }
    }
    .imenso-mercado {
      background: #d0a068 !important;
      button {
        color: white;
      }
    }
    #imenso-mercado {
      background: #e9bb86;
      p {
        color: #00537e !important;
        b {
          font-weight: bold;
        }
      }
    }
    .quem-e-o-cliente {
      background: #015985;
      button {
        color: #d0a068;
      }
    }
    #quem-e-o-cliente {
      background: #015985;
      button {
        z-index: 5;
      }
      .card-body {
        color: white;
        z-index: 0;
      }
    }
    .quem-e-franqueado {
      background: #e0e0e0;
      position: relative;
      button {
        color: #00537e !important;
      }
    }
    #quem-e-franqueado {
      background-color: #fff;
    }
    .franqueado-container {
      margin: 0 auto;
      width: 190px;

      .franqueado-item {
        text-align: center;
        img {
          height: 138px;
        }
        .name {
          display: block;
          padding-top: 10px;
          color: #d0a068;
          font-weight: bold;
        }
        .info {
          display: block;
          color: #00537e;
        }
      }
    }
    .unidade-control {
      width: 80%;
      outline: none;
      position: absolute;
      bottom: 10%;
      left: 10%;
    }
  }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
  .nav {
    padding-bottom: 40px;
    .divisor {
      height: 51px;
      width: 1px;
      background-color: #c4c4c4;
    }
    .nav-item {
      background: #f5f5f5;
      width: 195px;
      height: 50px;
      border-radius: 5px;
      .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0;
        color: #d0a068;
        font-weight: bold;
        font-size: 18px;
        line-height: 214.19%;
        text-transform: uppercase;
      }
      .active {
        background: #00537e;
      }
    }
  }
  .tab-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .texto {
      color: #4e4e4e;
      width: 500px;

      span {
        display: block;
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 20px;
        line-height: 140%;
      }
      p {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 0;
        line-height: 140%;
      }
    }
    .image {
      img {
        border-radius: 5px;
        border: 10px solid #d0a068;
        width: 568px;
        // height: 304px;
      }
    }
  }
}

.cliente-desk {
  background: #00537e;
  text-align: center;
  span {
    width: 250px;
  }
  .title {
    font-size: 36px;
    line-height: 41px;
    padding-bottom: 7px;
  }
  .sub-title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 135.4%;
    color: #ffffff;
    padding-bottom: 20px;
  }
  .content-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
    .text:last-child {
      position: relative;
      right: -20px;
    }
    .text {
      .title {
        width: 100px;
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 0;
        @media (min-width: map-get($grid-breakpoints, lg )) {
          width: 70% !important;
        }
      }
      span {
        font-size: 18px !important;
      }
    }
  }
  .images {
    display: flex;
    padding-top: 20px;
    img:last-child {
      position: relative;
      bottom: -60px;
    }

    img {
      width: 220px;
      height: 290px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.franqueado-desk {
  background-color: #efefef;
  border-bottom: 3px solid #d0a068;
  p {
    font-size: 17px;
  }
}

.franqueado-desk-container {
  max-width: 500px;
  position: relative;
  left: 10px;
  .franqueado-item {
    .name {
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      color: #d0a068;
    }
    .info {
      color: #00537e;
    }
  }

  .unidade-control-desk {
    outline: none;
    position: relative;
    width: 120%;
    top: -3rem;
    left: -3rem;

    img {
      cursor: pointer;
    }
  }
  .dots-franq-desk {
    text-align: center;
    button {
      outline: none;
      border-radius: 50%;
      background: transparent;
      width: 13.2px;
      height: 14px;
      border: 1px solid #00537e;
    }
    .tns-nav-active {
      background: #00537e;
    }
  }
}

.diferenciais-franq {
  width: 100%;
  margin-bottom: -120px;
  .banner-dif {
    padding-top: 26px;
    border-top: 1px solid #d0a068;
    background: url("../../dist/img/diferenciais-franq.png") center center;
    background-size: cover;
    height: 283px;
    font-weight: bold;
    font-size: 36px;
    line-height: 105%;
    text-align: center;
    color: #ffffff;
    z-index: 0;
    span {
      display: block;
    }
  }
  .diferenciais-carousel {
    position: relative;
    top: -165px;
  }
  .dif-container {
    // display: flex;s
    justify-content: center;
    margin-bottom: -100px;
    // width: 327px !important;
    height: 380px !important;
    margin: 0 auto;
    align-items: flex-end;
    width: 80%;

    .dif-wrapper {
      height: 380px !important;

      position: relative;

      // left: -8%;
      z-index: 10;
    }
    .item {
      height: 300px;
    }
    .dif {
      padding-top: 41px !important;
      padding: 35px;

      height: fit-content;
      // max-width: 180px;
      background: #00537e;
      mix-blend-mode: normal;
      border-radius: 5px;
      text-align: center;
      // margin-right: 10px;
      position: relative;
      bottom: -28%;
      // margin-right: 20px;
      // margin-left: 20px;
      img {
        width: 108px;
        height: 108px;
        position: relative;
        top: -120px;
      }
      div {
        margin-top: -100px;

        span {
          display: block;
          color: #ffffff;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: bold;
        }
        p {
          color: #ffffff;
          margin-bottom: 0;
        }
      }
    }
  }
  .dif-nav {
    width: 100%;
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    justify-content: space-between;
    position: relative;
    top: -150px;
    outline: none;
    img {
      width: 15px;
    }
  }
  .tns-nav {
    text-align: center;
    margin-top: 5px;
    button {
      background-color: transparent;
      border-radius: 50%;
      width: 9.6px;
      height: 13px;
      border: 1px solid #00537e;
      box-sizing: border-box;
    }
    .tns-nav-active {
      background-color: #00537e;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    background: url("../../dist/img/diferenciais-franq-desk.png") center center
      no-repeat;
    background-size: cover;
    margin-bottom: 0;
    .filtro-blue {
      background-color: #00537e;
      opacity: 0.9;
      z-index: inherit;
    }

    .banner-dif {
      height: 200px;
      background: none;
      background-size: cover;
      border: none;
      span:last-child {
        padding-top: 10px;
        font-size: 48px;
      }
    }
    .diferenciais-carousel {
      position: unset;
      .dif-container {
        display: block;
        height: 100%;
        width: 850px;
        .dif-wrapper {
          height: fit-content;
          max-width: unset;
          left: 10px;
        }
      }
      .dif-nav {
        top: -14rem;
        width: 80%;
        margin: 0 auto;
        img {
          filter: brightness(5);
          cursor: pointer;
        }
      }
    }
  }
}

.cases-sucesso {
  .tab-pane {
    margin: 0 auto;
    .tab-container {
      display: block;
      position: relative;
      .video-container {
        position: relative;
        z-index: 2;
      }
      .video-item {
        width: 290px;
        text-align: center;
        // margin-right: 20px;
        // margin-left: 20px;
        iframe {
          border: 3px solid #d0a068;
          margin-bottom: 15px;
        }

        .video-caption {
          text-transform: uppercase;
          color: #787878;
        }
      }
    }
    .video-nav {
      justify-content: space-between;
      display: flex;
      margin: 0 auto;
      position: absolute;
      left: -2.5rem;
      top: 8rem;
      outline: none;
      width: 109%;
      img {
        filter: invert(2%) sepia(18%) saturate(952%) hue-rotate(349deg)
          brightness(86%) contrast(89%);
        cursor: pointer;
      }
    }
    // .video-dots {
    //   text-align: center;
    //   button {
    //     border-radius: 50%;
    //     margin-right: 10px;
    //     background: transparent;
    //     height: 15px;
    //     width: 9px;
    //     border: 1px solid #00537e;
    //     outline: none;
    //   }
    //   .tns-nav-active {
    //     background: #00537e;
    //   }
    // }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .title {
      font-size: 36px;
    }
  }
}

.investimento {
  background: #d0a068;
  .textura {
    background-size: auto !important;
  }
  .title {
    line-height: 108.7%;
    text-align: center;
    color: #00537e !important;
  }
  .taxa {
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    padding: 8px 15px;
    background: #00537e;
    border-radius: 30px;
    margin-bottom: 20px;
  }
  .container-faixa {
    .faixa:first-child {
      border-top: 2px solid #ffffff;
    }
    .faixa {
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #ffffff;
      font-weight: bold !important;
      font-size: 17px;
      line-height: 17px;
      img {
        width: 60px;
        padding-right: 10px;
      }
      .sub-title {
        width: 140px;
        display: block;
        color: #00537e;
        font-size: 18px;
      }
      .preco {
        display: block;
        background: #ffffff;
        border-radius: 6px;
        padding: 5px 5px;
        text-transform: uppercase;
        color: #00537e;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    .title {
      font-size: 39px;
    }
    .taxa {
      height: 45px;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }
    .info {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 133.3%;
      color: #00537e;
      width: 800px;
      margin: 0 auto;
    }
    .container-faixa {
      justify-content: space-around;
      .faixa {
        text-align: center;
        border: none;
        background: #ffffff;
        box-shadow: 0px 3.40166px 17.0083px #ad7d45;
        border-radius: 17.0083px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 245px;
        height: 170px;
        &:hover {
          transform: scale(1.03);
        }
        img {
          filter: invert(20%) sepia(16%) saturate(1422%) hue-rotate(336deg)
            brightness(87%) contrast(85%);
          padding-right: 0;
          height: 60px;
          width: auto;
        }
        .sub-title {
          margin-top: 10px;
          font-weight: 400;
        }
      }
      .preco {
        font-size: 20px;
      }
    }
  }
}

.bg-white {
  background: #ffffff;
}

.depoimentos {
  .card {
    border-top: none;
    border-bottom: 1px solid #d0a068;
    .author {
      justify-content: unset;
      .pergunta {
        padding-left: 10px;
        width: 265px;
        display: block;
        font-size: 17px;
        line-height: 122.2%;
        color: #4e4e4e;
        text-transform: none;
      }
      .numero {
        background-color: #00537e;
        padding: 5px 10px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 17px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
        width: 30px;
      }
    }
    p {
      padding-top: 10px;
      margin-bottom: 0;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    .card {
      border: 1px solid #d0a068;
      border-radius: 30px;
      margin: 0 auto 20px auto;
      justify-content: center;
      padding: 15px 20px;

      .author {
        padding-top: 0;
        .pergunta {
          width: auto !important;
        }
        .icon {
          right: 4%;
        }
      }
    }
  }
}

.formulario-franqueado {
  border-top: 2px solid #d0a068;
  text-align: center;
  overflow-x: hidden;

  .banner-form {
    height: 213px;
    background: url("../../dist/img/franq-banner.png") center center no-repeat;
    background-size: cover;
    span {
      position: relative;
      display: block;
      width: 148px;
      font-weight: bold;
      font-size: 20px;
      line-height: 100%;
      color: #00537e;
      top: 2rem;
      left: 55%;
    }
  }
  .box-form {
    background: #00537e;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    padding: 23px;
    position: relative;
    top: -60px;
    margin: 0 auto;
    span,
    p {
      color: #ffffff !important;
      display: block;
      font-size: 17px;
      line-height: 120%;
      margin-bottom: 0;
    }
  }
  .sub-title {
    margin-top: -30px;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #00537e;
    display: block;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 20px;
  }
  .input-city {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    input {
      text-align: center;
      padding: 5px;
      border: none;
      outline: none;
      border-bottom: 2px solid #d0a068;
      width: 100%;
      &::placeholder {
        font-weight: bold;
        font-size: 17px;
        line-height: 18px;
        color: #4e4e4e;
      }
    }
    a {
      position: absolute;
      right: 10%;
    }
  }
  .btn-franq {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px !important;
    width: 250px !important;
    height: 50px;
    background: #d0a068 !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 111.2%;
    text-transform: uppercase;
    color: #ffffff !important;
    margin-bottom: 48px;
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    border-top: none;
    background: #f5f5f5;
    .info {
      display: block;
      font-size: 18px;
      line-height: 21px;
      color: #00537e;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    .mw-900 {
      // max-width: 900px;
      margin: 0 auto;
    }
    .banner-form {
      height: 635px;
      background-position-y: 0;
      span {
        font-size: 64px;
        width: 416px;
        text-align: left;
        left: 0;
        margin: 0 0 0 auto;
        top: 80px;

        b {
          font-size: 36px;
          display: block;
        }
      }
    }
    .box-form {
      margin: 0 0 0 auto;
      width: 455px;
      height: 294px;
      padding: 30px;
      top: -16rem;
      border-radius: 80px 0px;
      background-color: #d0a068;
      z-index: 3;
      text-align: left;
      span {
        font-size: 36px;
        padding-right: 10%;
      }
      p {
        font-size: 18px;
      }
    }
    .orange-box {
      width: 100%;
      height: 100%;
      background: #00537e;
      position: absolute;
      top: -7px;
      left: -7px;
      border-radius: 80px 0;
      z-index: -1;
    }
    .sub-title {
      margin: -180px auto 0 auto;
      padding: 0 0 30px 0;
      font-size: 24px;
      line-height: 28px;
      max-width: 460px;
    }
    .menu-714 {
      position: relative;
      right: -5px;
    }
    .input-city {
      input {
        padding-bottom: 10px;
        background: transparent;
        font-size: 24px;
        line-height: 24px;
        &::placeholder {
          font-size: 24px;
          color: #828282;
        }
      }
    }
    .franq-form-desk {
      .radio-inputs {
        .resp {
          display: flex;
          align-items: center;
          label {
            margin-bottom: 0;
            margin-left: 20px;
          }
          input {
            width: 20px;
            height: 20px;
            margin-bottom: 0px;
          }
        }
      }
      .grid-franq {
        input,
        select {
          width: 49.5%;
        }
      }
      div {
        input,
        select {
          background: #ffffff;
          height: 45px;
          border: 1px solid #d0a068;
          box-sizing: border-box;
          border-radius: 50px;
          width: 100%;
          margin-bottom: 15px;
          padding-left: 10px;
          padding-right: 10px;
          outline: none;
          color: #787878;
          font-weight: bold;
        }
        select {
          option:disabled {
            color: #787878;
          }
          -webkit-appearance: none;
          -moz-appearance: none;
          background-image: url("../../dist/img/select.svg");
          background-repeat: no-repeat;
          background-position-x: 97%;
          background-position-y: 8px;
        }
        div {
          span {
            width: 49%;
          }
        }
      }
      .mt-desconto {
        color: #00537e;
        margin-top: -3rem;
        p {
          margin-bottom: 0;
        }
        span {
          width: auto;
        }
        .form-title {
          font-weight: 500;
          font-size: 36px;
          line-height: 41px;
          display: block;
          text-align: left;
          margin: 0 0 0 auto;
          bottom: -6rem;
        }
        .form-carousel {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .indicador {
            display: flex;
            align-items: center;
            color: #d0a068;
            .numero {
              font-size: 288px;
              line-height: 331px;
              text-align: center;
            }
            .texto {
              font-size: 80.1712px;
              line-height: 92px;
            }
          }
          .question-container {
            width: 59%;
            z-index: 2;
            height: 12rem;
            padding-left: 4px;

            .question-item {
              text-align: left;
              width: 100%;
              .question {
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                display: block;
                padding-bottom: 20px;
              }
              .radio-inputs {
                .item {
                  display: flex;
                  flex-direction: column;

                  span {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    input {
                      width: 20px;
                      height: 20px;
                      margin-bottom: 0;
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .question-control-desk {
        outline: none;
        width: 120%;
        top: -15rem;
        left: -7rem;
        position: relative;
        img {
          width: 30px;
          cursor: pointer;
        }
      }
    }
    .btn-franq {
      width: 472px !important;
    }
  }
}

.franq-form-mobile {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;

  .part-1 {
    position: relative;
    transition: left ease-in-out 0.3s !important;
    padding-bottom: 35px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../../dist/img/select.svg") !important;
    background-repeat: no-repeat !important;
    background-position-x: 100% !important;
    background-position-y: -0px !important;
    background-size: contain !important;
  }
  input,
  select {
    height: 35px;
    width: 93%;
    background: none;
    border: none;
    border-bottom: 2px solid #d0a068;
    display: block;
    margin: 20px auto;
    outline: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 140.2%;
    color: #4e4e4e;
    ::placeholder,
    option {
      font-weight: normal;
      font-size: 16px;
      line-height: 140.2%;
      color: #4e4e4e;
    }
  }
  .proxima-etapa {
    background: #015985;
    font-size: 18px;
    line-height: 214.19%;
    text-transform: uppercase;
    color: #d0a068;
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 30px;
  }
  .off {
    left: -1000px !important;
    position: absolute !important;
  }
  .on {
    right: 0px !important;
    transition: right ease-in-out 0.3s !important;
    top: 0px !important;
    position: relative !important;
  }
  .part-2 {
    right: -1000px;
    top: 0;
    position: absolute;
    width: 100%;
    .form-title {
      font-weight: bold;
      font-size: 20px;
      line-height: 126.5%;
      text-align: center;
      text-transform: uppercase;
      color: #d0a068;
      width: 229px;
      margin: 0 auto;
      display: block;
      padding: 0;
      margin-bottom: -20px;
    }

    .indicador {
      position: relative;
      font-weight: bold;
      font-size: 36px;
      line-height: 123.2%;
      text-align: center;
      color: #00537e;
      width: 20%;
      top: 45px;
    }
    .question-container {
      width: 70%;
      left: 77px;
      position: relative;
      z-index: 5;
      .question {
        width: 90%;
        margin: 0 0 0 auto;
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 123.2%;
        color: #00537e;
        text-align: left;
        padding-bottom: 15px;
      }
      .resp {
        display: flex;
        margin: 0 auto;
        width: 80%;
        align-items: center;
        margin-bottom: 15px;
        label {
          margin-bottom: 0;
          font-weight: bold;
          font-size: 18px;
          line-height: 69.7%;
          color: #00537e;
        }
        input {
          width: 31px;
          height: 31px;
          margin: 0;
          margin-right: 15px;
          background: #ffffff;
          border: 2px solid #d0a068;
          box-sizing: border-box;
        }
      }
    }
    .info {
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      color: #00537e;
      width: 279px;
      margin: 0 auto;
      padding: 0em;
      padding-bottom: 20px;
    }
    .question-control-desk-2 {
      position: relative;
      top: -220px;
      width: 90%;
      margin: 0 auto;
      outline: none;

      img {
        filter: invert(93%) sepia(23%) saturate(4155%) hue-rotate(29deg)
          brightness(130%) contrast(95%);
      }
    }
  }
}
