.bg-position {
  background: url("../../dist/img/banner-servicos2.png") no-repeat !important;
}

.servicos-banner {
  padding-top: 100px;

  .banner-mobile {
    background: url("../../dist/img/banner-servicos.png") no-repeat;
    background-size: cover;
    height: 231px;
    background-position-x: -31rem;
    background-position-y: 0rem;
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    padding-top: 0;

    .banner-mobile {
      margin-top: 135px !important;
      background-position-x: 10%;
      height: 275px;
      .banner-title {
        font-weight: bold;
        font-size: 42px;
        line-height: 100%;
        color: #00537e;
        padding-left: 20px !important;
        // border-left: 1px solid #00537e;
      }
      .banner-title:before {
        display: block;
        content: "";
        height: 70px;
        width: 1.5px;
        background-color: #00537e;
        position: absolute;
        bottom: 10px;
        left: 0px;
      }
    }
  }
}

.servicos-intro {
  .cuidadores {
    background: #00537e;
    border-radius: 5px;
    position: relative;
    top: -4rem;
    margin: 0 auto;
    padding: 30px 25px 0px 25px;
    img {
      position: relative;
      top: -50px;
    }
    .title {
      text-align: left;
      padding: 0;
    }
    p {
      color: white;
      margin-bottom: 0;
    }
    .btn-geral {
      width: 251px;
      height: 52px;
      background: #d0a068 !important;
      position: relative;
      bottom: -1.5rem;
    }
  }
  .title {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-size: 28px;
  }
  .demais-servicos-2 {
    background: #f5f5f5;
    .btn-servico {
      font-size: 18px;
      line-height: 120%;
      color: #4e4e4e;
      border-bottom: 1px solid #d0a068;
      padding: 10px 10px 10px 0px !important;
      align-items: center;
      &:last-child {
        border: none !important;
      }
      &:hover {
        background-color: rgba(204, 204, 204, 0.301);
      }
      img {
        transform: rotate(-90deg);
        height: 15px;
        @media (min-width: map-get($grid-breakpoints, lg )) {
          height: 20px;
          transform: rotate(-90deg);
          width: 28px;
          position: relative;
          top: 13px;
        }
      }
      @media (min-width: map-get($grid-breakpoints, lg )) {
        padding: 10px 10px 20px 0px !important;
        margin-bottom: 15px;
        font-size: 20px;
      }
    }
    .border-none {
      border: none !important;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      .b-bottom {
        padding-bottom: 5px;
        border-bottom: 1px solid #d0a068 !important;
      }
      .border-none {
        margin-bottom: 0px;
        padding-bottom: 10px !important;
      }
    }
    .servicos-especiais {
      img {
        width: 100%;
        border-top: 2px solid #d0a068;
        @media (min-width: map-get($grid-breakpoints, lg)) {
          width: unset !important;
        }
      }
      .bg-orange {
        background: #d0a068 !important;
      }
      .bg-blue {
        background: #00537e !important;
      }
      div {
        position: relative;
        top: -4rem;
        border-radius: 5px;
        .title {
          color: #ffffff;
          text-align: left;
          padding: 0;
          padding: 20px 20px 0px 30px;
        }
        p {
          color: #ffffff;
          margin-bottom: 0;
          padding: 20px 20px 0px 30px;
        }
        .btn-geral {
          width: 200px;
          height: 50px;
          position: relative;
          bottom: -1.5rem;
        }
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    .cuidadores {
      top: 0;
      margin: 0;
      padding: 0px 30px 0px 30px;
      .title {
        margin-top: -30px;
      }
    }
    .demais-servicos {
      margin: 0 !important;
      top: 0;
      .title {
        padding-top: 30%;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
      }
      .btn-geral {
        position: relative;
        left: 0;
        bottom: 1.6rem;
      }
    }
    .demais-servicos-2 {
      background: none;
      align-items: baseline;
      div {
        margin: 0 !important;
        .sub {
          padding-top: 9px;
          font-size: 17px;
          line-height: 100%;
          color: #828282;
          margin-bottom: 17px;
        }
      }
    }
  }
}
