.banner-single {
  height: 231px;
  margin-top: 100px;
  background-size: cover !important;
  background-position-x: center !important;
  background-position-y: center !important;
  background-repeat: no-repeat;
}

.post-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #f2f2f2;
  .back-button {
    width: 42px;
    border-radius: 50%;
    background: #bdbdbd;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: -1rem;
  }
  .blog-post {
    padding: 40px 25px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    top: -100px;
    .title {
      font-weight: bold;
      color: #d0a068;
      margin: 0 auto;
    }
    .date {
      font-size: 12px;
      line-height: 137.5%;
      color: #4e4e4e;
    }
    .redes-sociais {
      justify-content: space-between;
      align-items: center;
      position: relative;
      bottom: -1.7rem;
      .text {
        font-size: 12px;
        line-height: 166.9%;
        color: #000000;
        padding-left: 15px;
        border-left: 1px solid black;
        padding-bottom: 0;
      }
    }
  }
  .back-to-top {
    margin-top: -70px;
    font-size: 14px;
    line-height: 126.5%;
    text-decoration: underline !important;
    color: #4e4e4e;
    margin-bottom: 40px;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .banner-single {
    height: 534px;
    margin-top: 135px;
  }

  .blog-post {
    padding: 45px !important;
    .title {
      font-size: 24px !important;
      text-align: left !important;
      margin: 0 !important;
      font-size: 35px !important;
      width: auto !important;
      margin-bottom: 40px !important;
    }
    p {
      font-size: 17px;
    }
    // .date {
    //   font-size: 18px !important;
    //   color: #a0a0a0 !important;
    //   font-style: italic;
    // }
    .container {
      padding: 0;
    }
    .redes-sociais {
      top: 0;
      width: 50%;
      justify-content: unset !important;
      span {
        margin-right: 20px;
      }
    }
    .back-lg-button {
      align-items: center;
      margin: 0 0 0 auto;
      &:hover {
        transform: scale(1.02);
      }
      div {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: #00537e;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        padding-left: 10px;
        font-size: 18px;
        line-height: 166.9%;
        color: #00537e;
      }
    }
  }
}
