.bg-sobre {
  margin-top: 100px;
  background: url("../../dist/img/banner-sobre.png") no-repeat;
  background-size: cover;
  background-position-x: 62%;
  position: relative;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    margin-top: 135px !important;

    background-position-y: 0px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .sobre-pad {
    padding-top: 170px;
    padding-bottom: 70px;
  }
}

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #4e4e4e;
}

.box-sobre {
  position: relative;
  top: -25px;
  background: #f5f5f5;
  border-radius: 5px;
  h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #00537e;
  }

  .part-1 {
    padding: 20px 20px 140px 30px;
    span {
      position: absolute;
      display: block;
      width: 108px;
      height: 54px;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: #787878;
      bottom: 60%;
      right: 10%;
    }
  }
  .part-2 {
    position: relative;
    img:first-child {
      height: 265px;
      position: absolute;
      bottom: 0;
      left: 23px;
    }
    img:last-child {
      width: 102px;
      height: 65px;
      position: absolute;
      right: 42px;
      bottom: 32px;
    }
    height: 133px;
    background: #d0a068;
    width: 100%;
  }
  .part-3 {
    padding: 20px 20px 20px 30px;
    p:last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    border-radius: 5px;
    background: unset;
    height: 569px;
    margin: 0 auto;

    p {
      max-width: 420px;
      padding-left: 5px;
      right: -56%;
      top: -100px;
      background: #fff;
      position: relative;
    }
    .part-1 {
      padding-bottom: 0;
      h1 {
        font-size: 36px;
        width: 275px;
        line-height: 40px;
        color: #d0a068;
        left: 30%;
        position: absolute;
        top: 6%;
      }
      span {
        left: 30%;
        top: 31%;
        font-weight: 500;
        width: 274px;
        height: 87px;
        font-size: 24px;
        line-height: 28px;
      }
    }
    .part-2 {
      position: unset;
      height: 0;
      background: unset;
      img:first-child {
        height: 611px;
        left: 0%;
      }
      img:last-child {
        width: 176px;
        height: 113px;
        bottom: 16%;
        left: 30%;
      }
    }
  }
}

.line-detail {
  justify-content: space-between;
  align-items: baseline;
  display: flex !important;
  font-size: 36px;
  div {
    margin-left: 5px;
    border-bottom: 1px solid #d0a068;
    width: 90%;
    position: relative;
    top: -7px;
  }
}

.historico {
  padding-left: 45px;
  padding-right: 30px;

  .man {
    position: relative;
    height: 360px;

    img {
      height: 367px;
      position: absolute;
      top: 3%;
      right: 10%;
      z-index: 5;
    }
    .marco {
      right: 8%;
    }
    .bg-blue {
      background: #00537e;
    }
    .bg-orange {
      background: #d0a068;
    }
    .left-position {
      left: -3%;
    }
    .circle {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      left: 7%;
      top: 8%;

      div {
        position: absolute;
        border-radius: 50%;
        width: 115px;
        height: 115px;
        z-index: -1;
        top: 35%;
        right: -3%;
      }
      .name {
        font-weight: bold;
        font-size: 24.751px;
        line-height: 25px;
        text-transform: uppercase;
        position: relative;
        left: 15%;
        z-index: 6;
      }
      .cargo {
        font-size: 11.0004px;
        line-height: 16px;
        position: relative;
        left: 15%;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-left: 0px;
    padding-right: 0;
    position: relative;
    left: 3%;
    max-width: 75%;
    margin-top: 60px !important;
    p {
      max-width: 435px;
    }
    .man {
      top: 20%;
      right: -2%;
      position: absolute;
      // img {
      //   height: 430px;
      // }
      .circle {
        left: -30%;
        top: 54%;
        width: 200px;
        height: 200px;
        div {
          width: 150px;
          height: 150px;
        }
        .top-position {
          top: -25%;
        }
      }
    }
    .artur {
      right: 25%;
    }
  }
}

.diferenciais {
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 30px;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding-left: 0px;
    left: 3%;
    max-width: 75%;
    .title {
      font-size: 36px;
    }
    .detail {
      margin-top: 40px;
      margin-bottom: 20px;
      height: 1px;
      background-color: #d0a068;
      width: 100%;
    }
  }
}
