.supervisora {
  margin-top: 100px;
  background: #0a4665;
  position: relative;
  overflow: hidden;
  .textura {
    padding: 20px;
    padding-bottom: 28px;
    background: url("../../dist/img/text-superv.svg") no-repeat;
  }
  .back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #bdbdbd;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -6px;
    img {
      width: 90%;
    }
  }
  .selo {
    position: absolute;
    width: 98px;
    top: -5px;
    right: 41px;
  }
  .title {
    padding-bottom: 10px;
  }
  .sub {
    width: 50%;
    font-weight: bold;
    font-size: 18px;
    line-height: 120.7%;
    color: #ffffff;
    display: block;
    margin-bottom: 30px;
  }
  p {
    color: white;
  }
  .img-superv {
    position: absolute;
    bottom: -45px;
    right: -55px;
    height: 300px;
  }
}

.funcoes {
  margin-bottom: -25px;
  .funcoes-wrapper {
    position: relative;
    top: -30px;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
    .funcoes-container {
      display: flex;
      .item {
        width: 80%;
        background: #d0a068;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 25px;
        margin-right: 10px;
        margin-left: 10px;
        .title {
          font-size: 18px;
          line-height: 140.7%;
          color: #ffffff;
          text-align: center;
        }
      }
    }
  }
  .funcoes-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    outline: none;
    position: relative;
    top: -150px;
    img {
      cursor: pointer;
      filter: invert(0%) sepia(1%) saturate(37%) hue-rotate(249deg)
        brightness(30%) contrast(101%);
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .supervisora {
    margin-top: 135px !important;
    .textura {
      margin-bottom: -250px;
    }
    .title {
      font-size: 56px;
      line-height: 64px;
      padding-left: 200px;
    }
    .sub {
      font-size: 24px;
      padding-left: 200px;
      line-height: 120.7%;
      width: auto;
    }
    p {
      display: block;
      width: 550px;
      margin-left: 80px;
      position: relative;
      top: -500px;
      font-size: 18px;
      line-height: 140.7%;
      color: #787878;
      margin-bottom: 0;
      br {
        display: none;
      }
    }
    ul {
      position: relative;
      top: -485px;
      list-style: none;
      margin-left: 40px;
      li {
        font-weight: bold;
        font-size: 18px;
        line-height: 140.7%;
        color: #00537e;
        margin-bottom: 10px;
        span {
          color: #d0a068;
          margin-right: 5px;
        }
      }
    }
    .img-superv {
      bottom: 190px;
      height: 890px;
    }
    .selo {
      left: 560px;
      top: 100px;
      right: unset;
    }
  }
}
