.trabalhe-conosco {
  margin-top: 100px;
  position: relative;
  img {
    position: absolute;
    bottom: -1px;
    width: 65%;
  }
  .banner-work {
    background: #00537e;
    .textura {
      padding-top: 30px;
      background: url("../../dist/img/textura-servicos.png");
      padding-bottom: 120px;
      .triangulo {
        width: 40px;
        height: 40px;
        background: #00537e;
        bottom: -20px;
        position: absolute;
        left: 47%;
        transform: rotate(45deg);
        .textura {
          background: url("../../dist/img/textura-servicos.png");
          padding-bottom: 0;
        }
      }
    }
    .title {
      // width: 80%;
      margin: 0 auto;
      font-size: 16px;
      color: #00537e;
      padding-bottom: 0;
      line-height: 100%;
    }
    .box-form {
      width: 210px;
      margin: -0 20px 0 auto;
      .item-input {
        padding-left: 10px;
        background: #f5f5f5;
        border-radius: 50px;
        width: 200px;
        height: 44px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        label {
          font-weight: bold;
          font-size: 17px;
          line-height: 18px;
          color: #00537e;
          display: block;
          position: relative;
          padding-left: 40px;
          margin-bottom: 0px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            left: 0;
            width: 30px;
            height: 30px;
            z-index: 2;
          }
          /* On mouse-over, add a grey background color */
          &:hover input ~ .checkmark {
            background-color: #ccc;
          }

          /* When the radio button is checked, add a image as background */
          input:checked ~ .checkmark {
            background: url("../../dist/img/ok.svg") center center;
            background-position-y: 0px;
            height: 32px;
            width: 32px;
            border: none !important;
          }

          /* Create a custom radio button */
          .checkmark {
            position: absolute;
            top: 6px;
            left: 0;
            width: 31px;
            height: 31px;
            background: #ffffff;
            border: 1px solid #d0a068;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.trabalhe-content {
  margin-top: 50px;
  .title {
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .trabalhe-form {
    width: 85%;
    margin: 0 auto 30px auto;
    input,
    select,
    option {
      width: 100%;
      border: none;
      border-bottom: 1px solid #d0a068 !important;
      outline: none;
      margin-bottom: 20px;
      font-size: 17px;
      line-height: 18px;
      color: #4e4e4e;
      background: none;
      padding-bottom: 5px;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../../dist/img/select.svg");
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-size: contain;
    }

    textarea {
      width: 100%;
      height: 124px;
      border: 1px solid #d0a068;
      box-sizing: border-box;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .radio-403 {
      display: none;
    }

    .custom-grid {
      display: block;
      justify-content: space-between;
      // .inp-1 {
      //   width: 57%;
      // }
      // .inp-2 {
      //   width: 37%;
      // }
    }

    .inp-pergunta {
      border: 1px solid #d0a068;
      box-sizing: border-box;
      border-radius: 40px;
      height: 42px;
      background-size: unset;
      background-position-y: 50%;
      text-align-last: center;
    }
    .btn-geral {
      width: 200px;
      height: 50px;
      background: #d0a068 !important;
      margin-top: 20px;
      border-radius: 5px !important;
      color: white !important;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .trabalhe-conosco {
    margin-top: 135px;
    margin-bottom: -230px;
    img {
      bottom: 270px;
      height: 570px;
      z-index: 1;
      width: 450px !important;
    }
    .pre-header {
      width: 100%;
      position: unset;
      background: url("../../dist/img/banner-contato-desk.png") no-repeat;
      background-position-y: 0;
      background-size: cover;
      height: 420px;
    }
    .textura {
      background: linear-gradient(
        180deg,
        rgba(0, 83, 126, 0) 3.15%,
        #00537e 32.41%
      ) !important;
      padding-top: 0;
    }
    .banner-work {
      background: none;
      position: relative;
      top: -270px;
      .textura {
        padding-bottom: 160px;
        .triangulo {
          left: 49%;
        }
      }
      .title {
        font-size: 36px;
        line-height: 118%;
        // width: 48%;
        position: relative;
        top: 150px;
        text-align: center;
        color: #d0a068 !important;
      }
      .sub {
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: bold;
        position: relative;
        top: 160px;
      }
      .box-form {
        width: 690px;
        height: 350px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 200px;
        left: 10px;
        .work-2 {
          .title {
            left: -15px !important;
          }
        }
        .item-input {
          width: 204px;
          height: 205px;
          background-size: cover;
          border-radius: 5px;
          position: relative;
          label {
            .title {
              font-weight: bold;
              font-size: 17px;
              line-height: 18px;
              text-align: center;
              color: #ffffff;
              text-transform: uppercase;
              width: 100%;
              left: -30px;
            }
            input,
            .checkmark {
              position: absolute !important;
              left: 150px !important;
            }
          }
        }
        .custom-position {
          left: -18px;
        }
        .square-detail {
          width: 204px;
          height: 205px;
          position: relative;
          background: #d0a068;
          border-radius: 5px;
          z-index: 2;
        }

        .work-1 {
          background: url("../../dist/img/work1.png") center center no-repeat;
          top: -10px;
          left: 10px;
        }

        .work-2 {
          top: -10px;
          right: 10px;
          background: url("../../dist/img/work2.png") center center no-repeat;
        }

        .work-3 {
          background: url("../../dist/img/work3.png") center center no-repeat;
          top: -10px;
          left: 10px;
        }
      }
    }
  }
  .trabalhe-content {
    .title {
      color: #787878;
    }
    .trabalhe-form {
      input,
      select {
        border: 1px solid #d0a068;
        box-sizing: border-box;
        border-radius: 50px;
        height: 40px;
        padding-left: 10px;
        padding-bottom: 0;
      }
      select {
        background-size: unset !important;
        background-position-y: 50%;
      }
      textarea {
        padding-left: 20px;
      }

      .custom-grid {
        display: flex;
        justify-content: space-between;
        .inp-1 {
          width: 100%;
        }
        .text-248 {
          margin-right: 5px !important;
        }
        .text-249,
        .text-251,
        .text-254,
        .text-256,
        .menu-352 {
          width: 59%;
          margin-left: 5px;
          margin-right: 5px;
        }
        .text-251,
        .text-257 {
          margin-right: 0 !important;
        }
        .text-250,
        .text-256 {
          margin-left: 0 !important;
        }
        .inp-2 {
          width: 100%;
        }
        .text-250,
        .text-251,
        .text-253,
        .text-257 {
          width: 40%;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      .pergunta {
        text-align: left !important;
        padding-left: 20px;
        font-size: 18px;
        line-height: 21px;
        color: #787878;
        padding-bottom: 10px;
        display: block;
        font-weight: bold;
      }
    }
  }
}
