.banner-unidades {
  background: #faf7f4;
  .banner-1 {
    .blue {
      background: linear-gradient(
        180deg,
        rgba(0, 83, 126, 0) 64.15%,
        #00537e 91.53%
      ) !important;
    }
  }
  .content {
    position: relative;
    top: 30px;
  }

  .select2-selection {
    outline: none;
    width: 100% !important;
    height: 45px !important;
    border-radius: 40px !important;
    background: white !important;
    padding-left: 10px !important;
    border: 1px solid #d0a068 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: url("../../dist/img/select.svg") !important;
    background-repeat: no-repeat !important;
    background-position-x: 97% !important;
    background-position-y: 12px !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: #787878 !important;
    font-weight: bold !important;
    span {
      line-height: 40px !important;
    }
    .select2-selection__arrow {
      opacity: 0 !important;
    }
  }

  .textura {
    // height: 300px;
    background: url("../../dist/img/textura-2.png") center center no-repeat;
    background-size: cover;
    .text {
      padding-top: 130px;
      padding-bottom: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      .hello {
        font-size: 36px;
        text-align: center;
        color: #d0a068;
        line-height: 130%;
      }
      .escolha {
        font-size: 24px;
        color: #00537e;
        line-height: 130%;
      }
      @media (min-width: map-get($grid-breakpoints, lg)) {
        padding-top: 0 !important;
        padding-bottom: 0px !important;
      }
    }
    .square {
      height: 50px;
      width: 50px;
      margin: 0 auto;
      transform: rotate(-45deg);
      position: relative;
      bottom: -20px;
      background: #faf7f4;
      div {
        background: url("../../dist/img/textura-2.png") center center no-repeat !important;
        background-size: cover !important;
        width: 100%;
        height: 100%;
      }
    }
  }

  .unity-mobile {
    background: #00537e;
    form {
      .btn-geral {
        height: 45px !important;
        width: 200px !important;
        margin: 0 auto;
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    background: #00537e;
    .btn-agendamento-custom {
      display: unset !important;
      width: unset !important;
      padding: 12px 20px;
      border-radius: 30px;
    }
    .textura {
      height: fit-content;
      background: none;
      div {
        padding-top: 0;
        display: block;
        .hello {
          color: #ffffff;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          display: block;
        }
        .escolha {
          text-align: center;
          color: #ffffff !important;
          font-size: 24px;
          display: block;
        }
      }
    }
  }
}

//  PAGINA UNIDADE INTERMEDIARIA
.unidade-intermediaria {
  background: #00537e;
  text-align: center;
  span {
    display: block;
  }
  .cidade {
    padding-top: 160px;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #d0a068;
  }
  .selecione {
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
  }
  .unidade-container {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .unidade-item {
      cursor: pointer;
      height: 110px;
      background: #ffffff;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      width: 180px;
      .name {
        width: 80%;
        font-size: 18px;
        font-weight: bold;
        line-height: 100%;
        letter-spacing: 0.04em;
        color: #00537e;
        padding-bottom: 10px;
      }
      div {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
        img {
          height: 25px;
        }
        .divisor {
          border: 1px solid #50515281;
        }
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .cidade {
      padding-top: 48px;
    }
    .unidade-container {
      margin: 0 auto;
      flex-wrap: wrap;
      .unidade-item {
        width: 203px;
        padding: 10px 15px !important;
        border-radius: 55px !important;
      }
    }
  }
}

// PAGINA UNIDADE FINAL (AGENDAMENTO CONCLUIDO)
.bg-agendamento {
  background: url("../../dist/img/banner-sobre2.png") no-repeat !important;
  background-size: cover !important;
}
.agendamento-concluido {
  background: #faf7f4;
  .textura {
    padding-top: 25%;
    background: url("../../dist/img/textura-2.png") center no-repeat;
    background-size: cover;
    height: 100%;
    img {
      margin-bottom: 44px;
    }
    .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 126.5%;
      color: #00537e;
      padding-bottom: 18px;
    }
    .text {
      font-weight: normal;
      font-size: 18px;
      line-height: 130%;
      color: #00537e;
      b {
        font-weight: normal;
      }
    }
    .ver-unidade {
      width: 159px;
      height: 41px;
      background: #d0a068;
      border-radius: 50px;
      font-weight: bold;
      font-size: 17px;
      line-height: 142%;
      letter-spacing: 0.04em;
      color: #00537e;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 70px auto;
    }
    .continuar {
      font-size: 17px;
      line-height: 119.2%;
      text-decoration: underline !important;
      color: #00537e;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .btn-find-unity {
      display: unset !important;
    }
    .textura {
      padding-top: 0;
      background: #00537e;
      .title {
        font-size: 36px;
        margin: 0 auto;
      }
      .text {
        font-size: 24px;
        margin: 0 auto 30px auto;
        b {
          font-weight: bold;
        }
      }
      .title,
      .text {
        color: white;
      }
      .btn-agendamento {
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        justify-content: space-around;
        a {
          margin: 0;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          width: 200px;
          height: 50px;
          text-transform: uppercase;
          color: #fff;
          text-decoration: none !important;
          &:hover {
            transform: scale(1.05);
          }
        }

        .continuar {
          background: #d0a068;
        }
        .ver-unidade {
          background: #548c4b;
        }
      }
    }
  }
}

//TEMPLATE AGENDAMENTO
.form-customer {
  position: relative;
  top: 20px;
  input[type="submit"],
  img {
    position: relative;
    left: 320px;
    top: -78px;
    border-bottom: none !important;
  }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
  // unidade mobile
  .unity-mobile {
    background: #00537e;
    span {
      height: 100%;
    }
    .select2-selection {
      border: none !important;
      text-align: center;
      height: 50px !important;
    }
    .btn-geral {
      padding: 10px 20px;
      margin-top: 20px;
      display: block;
    }
  }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  .agendamento-concluido-mob {
    .btn-geral:first-child {
      background: #d0a068 !important;
    }
    .btn-geral {
      width: 150px;
      height: 50px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints , lg )) {
  .agendamento-concluido-mob {
    display: flex;
    justify-content: space-around;
    margin-bottom: 145px;
    .btn-geral:first-child {
      background: #d0a068 !important;
    }
    .btn-geral {
      width: 150px;
      height: 50px;
    }
  }
  .unidades-form-mobile {
    padding-top: 130px;
    padding-bottom: 30px;
    .hello {
      display: block;
      font-weight: 500;
      font-size: 36px;
      line-height: 130%;
      text-align: center;
      color: #d0a068;
    }
    .escolha {
      font-size: 24px;
      line-height: 130%;
      text-align: center;
      text-transform: lowercase;
      font-weight: 500;
      display: block;
    }
  }
  .btn-un-form-mob {
    .btn-geral {
      width: 200px;
      height: 50px;
      margin: 0 auto !important;
      margin-top: 25px !important;
    }
  }
}

@media (min-width: (map-get($grid-breakpoints , lg ))) {
  .btn-un-form-mob {
    .btn-geral {
      border-radius: 50px !important;
      width: 200px;
      height: 50px;
      margin: 0 auto !important;
    }
  }
  .btn-size {
    height: 50px;
    width: 200px;
    border-radius: 50px;
  }
}
