.acf-map {
  height: 350px;
}
.banner-unidade-single {
  position: relative;
  height: 150px;
  background: #f5f5f5;
  margin-top: 100px;
  .avaliacao-diagnostica {
    display: none;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    background: url("../../dist/img/banner-unidades.png") no-repeat;
    background-size: cover;
    margin-top: 135px;
    height: 534px;
    background-position-x: center;
    background-position-y: 0;

    .avaliacao-diagnostica {
      position: absolute;
      top: 13px;
      right: 2%;
      height: 507px;
      width: 331px;
      background: #f2f2f2;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 20px;
      span {
        display: block;
      }
      .av-title {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
        color: #d0a068;
      }
      .av-sub {
        padding-top: 20px;
        line-height: 23px;
        text-align: center;
        color: #4e4e4e;
      }
      .form {
        padding-top: 10px;
        input {
          height: auto;
          margin-bottom: 15px;
          padding: 10px 5px;
          border-bottom: 1px solid #787878;
        }
        input,
        input::placeholder {
          font-size: 18px;
          line-height: 26px;
          color: #4e4e4e;
        }
        .btn-form {
          margin-top: 20px;
          padding: 10px 20px;
        }
      }
    }
  }

  .unidade {
    padding-top: 65px;
    position: relative;
    .back-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      background: #c4c4c4;
      border-radius: 50%;
      position: absolute;
      top: 16%;
      left: 2%;
      img {
        width: 22.24px;
        height: 20.22px;
      }
    }
    div {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.04em;
      color: #d0a068;
    }
    .icon-map {
      width: 33px;
      height: 30px;
      position: absolute;
      right: 5%;
      top: 75%;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      padding-top: 0;
      padding-left: 6%;
      width: 454px;
      height: 139px;
      background: #00537e;
      border-radius: 50px 0px;
      border-right: 8px solid #d0a068;
      top: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        border-left: 1px solid #ffffff;
        padding-left: 15px !important;
        font-weight: bold;
        color: #ffffff;
        text-align: left;
        span:first-child {
          font-size: 22px;
          line-height: 25px;
        }
        span:last-child {
          font-size: 32px;
          line-height: 37px;
        }
      }
    }
  }
}

.galeria-unidades {
  background: #00537e;
  .car-item {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .container-unidades {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .unidade-item {
      display: block;
      height: 215px;
      border: 5px solid #fff;
      box-sizing: border-box;
      border-radius: 5px;
      margin-right: 30px;
    }
  }
  .dots-unidades {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    button {
      width: 9.6px;
      outline: none;
      height: 13px;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 50%;
      background: transparent;
      &.tns-nav-active {
        background: #ffffff !important;
      }
    }
  }
  .informacoes {
    background: white;
    .telefones {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 3px solid #d0a068;
      img {
        width: 25px;
        margin-right: 10px;
      }
      .tel {
        display: flex;
        align-items: center;
        justify-content: baseline;
        margin-bottom: 10px;
        p {
          margin: 0;
          font-weight: 300;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.04em;
          color: #4e4e4e;
        }
        button {
          border: none;
          outline: none;
          width: fit-content;
          height: 30px;
          background: #d0a068;
          border-radius: 3px;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: #00537e;
        }
        #more {
          display: none;
        }
      }
    }
    .midias {
      padding-top: 40%;
      span {
        display: block;
        line-height: 21px;
        letter-spacing: 0.04em;
        color: #787878;
      }
      img {
        height: 30px;
        padding-right: 10px;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    background: #ffffff;
    position: relative;
    .container-unidades {
      .unidade-item {
        width: 626px !important;
        height: 427px;
        margin: 0;
      }
    }
    // .unidade-control {
    //   justify-content: space-between;
    //   width: 60%;
    //   position: absolute;
    //   bottom: 13.5%;
    //   left: -1%;
    //   outline: none;
    //   img {
    //     height: 30px;
    //     width: 20px;
    //     cursor: pointer;
    //   }
    // }
    .dots-unidades {
      padding-top: 30px;
      z-index: 5;
      width: 90%;
      .tns-outer {
        display: flex;
        flex-direction: column-reverse;
        .tns-nav {
          button {
            height: 18px;
            width: 18px;
            border: 1px solid #d0a068;
            margin: 5px;
            margin-top: 15px;
          }
          .tns-nav-active {
            background: #d0a068 !important;
          }
        }
      }

      .thumb-2 {
        width: auto;
        height: auto;
        border: none;
        box-sizing: border-box;
        border-radius: 5px;
        background: unset;
      }
      .thumb {
        height: 100%;
        width: 100%;
      }
    }
    .informacoes {
      position: absolute;
      top: 10%;
      right: -5%;
      .midias {
        span {
          font-weight: bold;
        }
      }
      .title {
        line-height: 31px;
      }
      .address {
        display: block;
        padding-bottom: 10px;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.04em;
        color: #4e4e4e;
      }
      .telefones {
        align-items: flex-start;
        border-bottom: none;
        .tel {
          justify-content: space-between;
          // width: 100%;
        }
        p {
          font-size: 22px !important;
          line-height: 31px !important;
          // font-weight: bold !important;
        }
        .myBtn {
          color: #d0a068 !important;
          background: #00537e !important;
        }
      }
    }
  }
}

.depo-unidade {
  .depoimentos {
    // background: #00537e;
    p {
      color: white;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .gray-desk {
    background: #f5f5f5;
  }
  .razoes {
    background: #ffffff;
  }
}

.demais-servicos {
  text-align: center;
  background: white;
  .cuidadores {
    display: flex;
    justify-content: center;

    div {
      position: relative;
      display: flex;
      flex-direction: column;
      background: #00537e;
      text-align: left;
      border-radius: 5px;
      img {
        display: none;
        align-self: center;
        border-radius: 6px;
        height: 174px;
        width: 347px;
        border-right: 3px solid #d0a068;
        border-bottom: 2px solid #d0a068;
        position: absolute;
        top: -8%;
      }
      span {
        align-self: left;
      }
      p {
        color: #ffffff !important;
        line-height: 21px;
        font-weight: 500;
        // margin-bottom: 0;
      }
    }
  }
  .demais {
    background: #f5f5f5;

    .title {
      padding-right: 30px;
      padding-left: 30px;
    }
    ul:last-child {
      .item:last-child {
        border: none;
      }
    }
    ul {
      padding-left: 0;
      margin-bottom: 0;
      .item {
        display: block;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #4e4e4e;
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d0a068;
      }
      .sub-item {
        font-weight: normal;
        padding-top: 5px;
        padding-bottom: 7px;
        display: block;
        font-size: 17px;
        line-height: 100%;
        color: #828282;
      }
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    display: flex;
    justify-content: space-around;
    background: #f5f5f5;
    padding-top: 35px;
    .cuidadores {
      div {
        height: 482px;
        width: 412px;

        span {
          padding-top: 40%;
        }
        img {
          display: flex;
        }
      }
    }
  }
}

.modal-avaliacao {
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 1.5rem;
    pointer-events: none;
    top: 10%;
    background: #f5f5f5;
    border-radius: 5px;
  }
  .modal-header {
    background: #f5f5f5;
    border-bottom: none;
    padding: 2px 10px;
    .close {
      outline: none;
    }
  }
  .modal-body {
    text-align: center;
    background: #f5f5f5;
    padding-bottom: 50px;

    .title {
      font-size: 18px;
      line-height: 139.2%;
      text-transform: uppercase;
      padding-bottom: 0;
      width: 280px;
      margin: 0 auto;
    }
    .gratuita {
      font-weight: bold;
      font-size: 24px;
      line-height: 125.2%;
      text-transform: uppercase;
      color: #00537e;
      padding-bottom: 20px;
      display: block;
    }
    label {
      width: 100%;
    }
    input,
    select {
      padding: 20px;
      background: #ffffff;
      border: 1px solid #d0a068;
      box-sizing: border-box;
      border-radius: 50px;
      width: 100%;
    }
    .btn-modal {
      margin-top: 15px;
      position: unset;
      background: #548c4b;
      width: 200px;
      height: 57px;
      border-radius: 5px;
      padding: 0;
    }
    .loading {
      position: unset;
    }
  }
}
