.vantagens {
  background: url("../../dist/img/vantagens.png") no-repeat;
  height: 210px;
  background-size: cover;
  background-position-x: 53%;
  text-align: center;
  position: relative;
  .textura {
    background-size: unset;
  }
  img {
    position: absolute;
    width: 67px;
    top: 1rem;
    left: 1rem;
  }
  .title {
    padding-top: 30px;
    padding-bottom: 0;
    margin: 0 auto;
    color: white;
  }
  .btn-geral {
    width: 270px;
    height: 54px;
    background: #00537e;
    box-shadow: 0px 0px 20px rgba(100, 62, 17, 0.7);
    position: relative;
    bottom: -3rem;
  }

  @media (min-width: map-get($grid-breakpoints, lg )) {
    height: 330px;

    img {
      height: 196px;
      width: 193px;
      top: 4rem;
      left: 10rem;
    }
    .title {
      text-shadow: 0px 4px 20px rgba(107, 63, 12, 0.7);
      font-size: 48px;
      padding-top: 48px;
    }
    .btn-geral {
      bottom: -10rem;
      background: #00537e !important;
    }
  }
}
