$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1000px,
  xl: 1280px,
  xxl: 1400px,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400%7CRoboto:500");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

$gray: #f2f3f5;

$green: #2ec665;

$blue: #001378;

$dblue: #121634;

$red: #da1b41;

$yellow: #ffd800;

$gold:#d0a068;

body {
  font-family: "Ubuntu" !important;
  font-weight: 400;
  position: relative;
  color: #4e4e4e;
}
img {
  @extend .img-fluid;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

// .disabled {
//   opacity: 0.7;
// }

#find-unity {
  .select2-selection {
    outline: none;
    width: 100%;
    height: 45px;
    border-radius: 40px;
    // margin-bottom: 15px;
    background: white;
    padding-left: 10px;
    border: 1px solid #d0a068;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../../dist/img/select.svg");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 8px;
    font-size: 18px;
    line-height: 21px;
    color: #787878;
    font-weight: bold;
    span {
      line-height: 40px;
    }
    .select2-selection__arrow {
      opacity: 0;
    }
  }
}

.margin-center {
  margin: 0 auto;
}

.btn-geral {
  border-radius: 5px;
  background: #548c4b !important;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  display: flex;
  border: 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &:hover {
    color: white;
    transform: scale(1.015);
  }
}

.select2 {
  margin: 0.5rem 0;
  width: 100% !important;
}

.icon-wpp {
  background: #01b217;
}

.icon-unity {
  border-radius: 100%;
  color: #fff;
  width: 27px;
  font-size: 20px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-phone {
  background: #072066;
  font-size: 15px;
}

.banner-1 {
  height: 305px;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    height: 280px;
    .filter-white {
      background: linear-gradient(
        360deg,
        #ffffff 10.94%,
        rgba(196, 196, 196, 0) 100%
      );
      height: 244px;
      width: 100%;
      position: absolute;
      bottom: -18px;
      .title {
        font-weight: bold;
        width: 300px;
        font-size: 48px;
        line-height: 55px;
        color: #ffffff;
        position: relative;
        left: 17%;
        border-left: 2px solid white;
        padding-left: 5px;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

.razoes {
  display: none;
  text-align: center;
  background: #e9e9e9;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    display: block;
  }
}

.encontre {
  height: 71px;
  z-index: 50;
  width: 100%;
  background: #548c55;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  position: fixed;
  bottom: 0;
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
  color: #d0a068;
  display: block;
  padding-bottom: 20px;
}

.textura {
  background: url("../../dist/img/depo-desk.png") center center no-repeat;
  background-size: cover;
  height: 100%;
}

.form {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  input {
    padding-bottom: 8px;
    width: 100%;
    outline: none;
    background: transparent;
    height: 30px;
    border: none;

    &::placeholder {
      font-size: 15px;
      line-height: 21px;
    }
  }
  .btn-form {
    background: #548c4b;
    width: 200px;
    height: 57px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.avaliacao-gratuita {
  border-top: 3px solid #d0a068;
  background: #00537e;
  color: #ffffff !important;
  .tittle {
    font-weight: bold;
    display: block;
    font-size: 24px;
    line-height: 28px;
  }
  .sub-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }
  .form {
    input {
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      &::placeholder {
        color: #ffffff;
      }
    }
  }
  .btn-geral {
    width: 200px;
    height: 56.6px;
    background: #548c4b !important;
    &:hover {
      color: white;
      transform: scale(1.05);
    }
  }
}

.footer-extra {
  border-bottom: 3px solid #d0a068;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    img:first-child {
      width: 22%;
    }
    img:last-child {
      width: 633px;
      height: 85px;
    }
  }
}

@import "blog";
@import "contato";
@import "covid-19";
@import "cuidadores";
@import "depoimentos";
@import "excelencia";
@import "footer";
@import "header";
@import "home";
@import "livelo";
@import "produtos";
@import "razoes";
@import "seja-um-franqueado";
@import "servicos";
@import "single-blog";
@import "sobre-nos";
@import "supervisora";
@import "trabalhe-conosco";
@import "unidades";
@import "unidade-single";
@import "vantagens-template";
@import "help";